.container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 16px;
    background: #fff;
}

app-party-item {
    width: 50%;
}

.label {
    margin-top: 24px;
    padding: 10px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #101010;
}

@media (max-width: 468px) {

    app-party-item {
        width: 100%;
    }

}