<div class="popup-overlay" (click)="cancel()">
    <div class="popup" (click)="$event.stopPropagation()">
        <div class="close-button" (click)="cancel()">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5 5L18 18M5.0002 18L18 5" stroke="#333334" stroke-opacity="0.3" stroke-width="1.4" stroke-linecap="round"/>
            </svg>
          </div>
        <p class="popup-title">Вы действительно хотите удалить свой аккаунт?</p>
        <p class="popup-subtitle">При удалении, вы безвозвратно потеряете всю информацию: ваши резюме и вакансии, а
            также не сможете получать доступ к контактам других пользователей.</p>
        <div class="btns">
            <a class="popup-btn-delete" (click)="deleteUser()">Удалить профиль</a>
            <a class="popup-cancel" (click)="cancel()">Отменить</a>
        </div>

    </div>