.card {
    border-radius: 20px;
    padding: 0.8rem;
    box-shadow: 1px 2px 4px 0 rgba(40, 40, 40, 0.1);
    background: var(--background-card-account);
}

.card:hover {
    background: var(--card-hover-account);
}

p {
    margin: 0;
}

.designation {
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 0.85rem;
    line-height: 114%;
    color: var(--font-color);
    margin-bottom: 1rem;
}

.title {
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 12px;
    line-height: 117%;
    color: var(--font-color);
    margin-bottom: 0.3rem;
}


.lookingFor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
}


.value {
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 117%;
    text-transform: uppercase;
    color: var(--font-color);
}


.tags-motivation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.level {
    border-radius: 5px;
    padding: 4px 6px;
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 120%;
    color: var(--font-color);
}

.motivation{
    border-radius: 50px;
    padding: 8px 10px;
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 120%;
    color: var(--font-color);
}