<div class="card">
    <p class="designation">
        Ищу технического партнера (или нескольких) в агентство по разработке решений на базе AI, нейронок
    </p>
    <div>
        <p class="title">
            Ищу:
        </p>
        <div class="lookingFor">
            <p class="value">
                Директор по информационным технологиям (CIO)
            </p>
            <p class="level" [ngStyle]="{ 'background': getSkillsColor('Middle') }">
                Middle
            </p>
        </div>
    </div>
    <div>
        <p class="title">
            Мотивация:
        </p>
        <div class="tags-motivation">
            <div class="motivation" [ngStyle]="{ 'background': getMotivationColor('Без оплаты') }">
                Без оплаты
            </div>
            <div class="motivation" [ngStyle]="{ 'background': getMotivationColor('За оплату') }">
                За оплату
            </div>
        </div>
      
    </div>
</div>