.card {
    border-radius: 20px;
    padding: 0.8rem;
    box-shadow: 1px 2px 4px 0 rgba(40, 40, 40, 0.1);
    background: var(--background-card-account);
}

.card:hover {
    background: #A6EB20;
}

p {
    margin: 0;
}

.designation {
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 0.85rem;
    line-height: 114%;
    color: var(--font-color);
    margin-bottom: 1rem;
}

.title {
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 12px;
    line-height: 117%;
    color: var(--font-color);
    margin-bottom: 0.3rem;
}

.chapterCard-value-eng {
    margin: 0;
    width: 90%;
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 117%;
    text-transform: uppercase;
    color: var(--font-profession-eng);
}

.lookingFor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


.value {
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 117%;
    text-transform: uppercase;
    color: var(--font-color);
}


.tags-motivation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.level {
    margin: 0;
    border: 2px solid #fad305;
    padding: 4px 6px;
    border-radius: 5px;
    font-family: var(--font-Monts);
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    color: var(--font-color);
}


.container-date {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1rem;
}

.rightProfileChapter {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.rightProfileChapter p {
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 120%;
    color: var(--font-color);
}

.dateTitle {
    font-size: 0.8rem;
}

.dateValue {
    font-size: 1rem;
}

@media (max-width: 798px) {
    .level {
        font-size: 0.7rem;
    }
}