.content {
    display: flex;
    /* padding-top: 120px; */
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    /* height: 100vh; */
}


.search {
    width: 100%;
    padding: 1.5rem 0;
    background: #b9aeff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Начальное положение */
    transition: position 0.5s; /* Плавный переход */
}

.sticky-background {
    background: none;
    z-index: 10;
}

app-search{
    position: relative; /* Начальное положение */
    transition: position 0.5s; /* Плавный переход */
}
app-search.sticky {
    width: 65.5%;
    position: fixed;
    top: 0px;
    padding: 1rem 0;
}

app-search:not(.sticky) {
    background: #b9aeff; /* Цвет, когда не приклеен */
}

.search-container {
    width: 65%;
}

/* styles.css */
.desktop-only {
    display: none;
}

.phone-only {
    display: block;
}


/* Когда отсутствует app-desktop-type и app-phone-type */
.no-type .search {
    background: #806BFF;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 0.5rem;
    position: fixed;
    top: 60px;
    padding: 1.5rem 0;
    z-index: 50;
    transition: background-color 0.5s;
}

/* Когда присутствует app-desktop-type или app-phone-type */
.has-type .search {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #b9aeff;
    z-index: 10; /* Чтобы элемент был выше других */
    transition: background-color 0.5s;
}




/* Медиазапрос для ПК */
@media (min-width: 790px) {
    .desktop-only {
        display: block;
    }

    .phone-only {
        display: none;
    }
}


@media (max-width: 1199.98px) {
    app-search.sticky {
        width: 100%;
        top: 60px; 
        background: #806BFF;
        padding: 0;
        z-index: 50;
        transition: top 0.2s ease, background-color 0.1s ease;
    }
    
    .content {
        padding-top: 66px;
        height: auto;
    }

    .search-container {
        width: 100%;
    }

    .search {
        align-items: start;
        padding: 0.5rem 0;
        background-color: #806BFF;
    }


    
}