.content {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    margin-top: 175px;
    margin-bottom: 75px;
}

.leftContent,
.rightContent {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.topRow,
.bottomRow {
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
}

.bottomColumn {
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
}

.leftColumn,
.rightColumn {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    object-fit: cover;
    display: block;
    border-radius: 2.5rem;
}


.image-160x160 {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.image-320x160 {
    aspect-ratio: 2 / 1;
    object-fit: cover;
}

.image-160x320 {
    aspect-ratio: 1 / 2;
    object-fit: cover;
}

.overlay-block {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 2.3rem;
    width: 40%;
    z-index: 22;
    left: 210px;
}

.textConternt {
    padding: 0px 1.9rem;
}

.title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 38px;
    line-height: 105%;
    color: #806bff;
    margin: 0;
}

.text {
    width: 75%;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #101010;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1.5rem;
}

button {
    border-radius: 2rem;
    padding: 14px 16px;
    border: none;

    font-family: var(--font-family);
    font-weight: 500;
    line-height: 117%;
    color: #fff;
}

.btnVacancy {
    background: #84dd2c;
}

.btnResume {
    background: #806bff;
}


.overlay-top-right {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    position: absolute;
    top: -50px;
    right: 100px;
    width: 700px;
    color: white;
    padding: 10px;
    z-index: 1;
}

.tag {
    background: none;
    border: 1px solid #fff;
    border-radius: 1.3rem;
    padding: 8px 10px;
    margin: 0;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 117%;
    color: #fff;
}