.text-background {
    position: absolute;
    /* Позиционирование относительно родительского блока */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-Monst);
    font-weight: 800;
    font-size: clamp(50vw, 40%, 300px);
    line-height: 100%;
    text-transform: uppercase;
    color: rgb(137 134 134 / 10%);
    /* Цвет фона текста */
    z-index: -1;
    /* Позиция позади содержимого */
    text-align: center;
    pointer-events: none;
    /* Не мешает взаимодействию с другими элементами */
}

.main {
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    position: relative;
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
}
.main::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 400px;
    height: 400px;
    background: url('https://static.tildacdn.com/tild3066-6661-4562-b630-663131656437/UnhealthyLimpEyelash.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
} 


@media (max-width: 1132px){
    .main::after{
        left: 25%;
    }
}
/* Медиазапрос для устройств с шириной экрана 768px и меньше */
@media (max-width: 768px) {
    .main::after {
        width: 300px;
        height: 300px;
        left: 15%;
        /* Уменьшение размеров */
        right: 10px;
        bottom: 10px;
        /* Уменьшение расстояний от краёв */
    }
}

/* Медиазапрос для устройств с шириной экрана 480px и меньше */
@media (max-width: 480px) {
    .main::after {
        width: 300px;
        height: 300px;
        left: auto;
        /* Ещё большее уменьшение размеров */
        right: 5px;
        bottom: 5px;
        /* Уменьшение расстояний от краёв */
    }
}

.img {
    position: relative; 
    width: 250px;
  }
  
  .img img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .text-img {
    position: absolute; 
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-family: var(--font-Monts);
    font-family: var(--font-family);
    font-weight: 700;
    line-height: 106%;
    color: #fff;
    font-size: clamp(32px, 5%, 50px);
    text-align: center;
    z-index: 2; 
    pointer-events: none; 
  }
  

.content {
    padding: 20px;
    text-align: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 62px;
}

.title {
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: var(--font-color);
}

.subtitle {
    margin: 0;
    font-size: 1rem;
    color: #666;
}

.link {
    border-radius: 30px;
    padding: 14px 20px;
    width: 299px;
    height: 44px;
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #101010;
    background: #a6eb20;
}

.link:hover {
    text-decoration: underline;
}


/* Адаптивные стили */

/* Медиазапрос для устройств с шириной экрана 768px и меньше */
@media (max-width: 768px) {
    .text-background {
        /* align-items: flex-end; */
        /* Выравнивание текста по нижнему краю */
        font-size: 15rem;
    }

    .main {
        width: 90%;
        height: auto;
        /* Изменение высоты на auto */
        padding: 20px;
        /* Добавление отступов */
    }

    .container {
        flex-direction: column;
        /* Изменение направления на вертикальное */
        text-align: center;

        align-items: center
    }

    .img {
        width: 90%;
        /* Установка ширины изображения на 100% */
        height: auto;
        /* Автоматическая высота для сохранения пропорций */
    }

    .content {
        padding: 10px;
    }

    .btn {
        justify-content: center;
        margin-top: 20px;
        /* Уменьшение отступа сверху */
    }

    .title {
        font-size: 18px;
        /* Уменьшение размера шрифта */
    }

    .subtitle {
        font-size: 0.9rem;
        /* Уменьшение размера шрифта */
    }

    .link {
        width: 100%;
        /* Ширина ссылки на 100% */
        box-sizing: border-box;
        /* Учет отступов и границ в общей ширине */
    }
}

/* Медиазапрос для устройств с шириной экрана 480px и меньше */
@media (max-width: 480px) {
    .text-background {
        font-size: 10rem;
        /* Еще большее уменьшение размера текста */
    }

    .title {
        font-size: 16px;
        /* Дополнительное уменьшение размера шрифта */
    }

    .subtitle {
        font-size: 0.8rem;
        /* Дополнительное уменьшение размера шрифта */
    }

    .link {
        font-size: 12px;
        /* Уменьшение размера шрифта для ссылки */
        padding: 12px 16px;
        /* Уменьшение отступов */
    }
}