<div class="main">
    <div class="text-background">
        405
      </div>
    <div class="container" [ngStyle]="{'background': content.Bgimg}">
        <div class="img">
            <img [src]="content.imageSource">
        </div>
        <div class="content" >
            <div class="text">
                <p class="title">
                    Что-то пошло не так!
                </p>
                <p class="subtitle">
                    {{ content.subtitle }}
                </p>
            </div>
            <div class="btn">
                <a class="link">Написать в тех. поддержку</a>
            </div>
           
            </div>
    </div>
    
</div>

