.conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8rem;
}


.toggle-switch {
    display: flex;
    border-radius: 2.5rem;
    overflow: hidden;
    box-shadow: 1px 2px 4px 0 rgba(40, 40, 40, 0.1);
    background: rgba(51, 51, 52, 0.3);
}

.toggle-btn {
    flex: 1;
    padding: 16px 16px;
    text-align: center;
    cursor: pointer;
    border: none;
   
    color: #fff;
    transition: background 0.3s, color 0.3s;
}

.toggle-btn.active {
    border-radius: 30px;
    padding: 16px 65px;
    box-shadow: 1px 2px 4px 0 rgba(40, 40, 40, 0.1);
    background: #fff;

    white-space: nowrap;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1rem;
    line-height: 117%;
    color: #101010;
}

.toggle-btn:not(.active) {
    background: none;
    white-space: nowrap;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1rem;
    line-height: 117%;
    color: rgba(255, 255, 255, 0.5);
}



.search-container {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.search-box {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.search-input {
    width: 50px; /* Initial width */
    min-width: 50px; /* Ensure a minimum width */
    height: 50px;
    border-style: none;
    padding: 10px;
    padding-left: 1rem;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: width 0.5s ease-in-out; /* Only specify transition once */
    background-color: #ffff;
    padding-right: 40px;
    color: #000000;
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.search-button {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    color: #ffffff;
    background-color: transparent;
    right: 0;
}

.search-button:hover + .search-input,
.search-container:hover .search-input,
.search-input:focus,
.search-input:not(:placeholder-shown) { /* Adjust width based on focus and content */
    width: 350px; /* Expanded width */
    transition: width 0.5s cubic-bezier(0, 0.110, 0.35, 2); /* Specify transition properties */
}

.search-button svg {
    fill: #000;
}