<div class="container">
    <div class="first-content">
        <div class="first-content-item left">
            <p class="title-content">
                Яндекс кап 24
            </p>
            <div class="info-block">
                <div class="info-item">
                    <span class="label">Организатор:</span>
                    <span class="value">Яндекс Практикум</span>
                </div>
                <div class="info-item">
                    <span class="label">Фокус:</span>
                    <span class="value">ML, Java, Frontend, еще всякое</span>
                </div>
                <div class="info-item">
                    <span class="label">Для кого:</span>
                    <span class="value">Студенты ММГ 18-28 лет</span>
                </div>
                <div class="info-item">
                    <span class="label">Условия участия:</span>
                    <span class="value">Только студенты</span>
                </div>
                <div class="info-item">
                    <span class="label">Мотивация:</span>
                    <span class="value">1 200 000 руб.</span>
                </div>
            </div>

        </div>
        <div class="first-content-item">
            <div class="info-block">
                <p class="title-content">
                    19 августа - 23 сентября
                </p>
                <span id="typeHack">
                    онлайн + оффлайн
                </span>
                <span id="address">
                    Москва, Горки Город, ул. Партизанская 2
                </span>
                <span class="info-item">
                    <span class="value">
                        Регистрация до:
                    </span>
                    <span class="label">
                        16 августа
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="second-content">
        <span class="label">
            Описание
        </span>
        <span class="value">
            Привет! Ищу возможность поучаствовать в стартапах разработки мобильных приложений) Мое портфолио jhvjvvkv
             Работаю в Figma / After Effects. я уже принимал участие в разработкеЯ очень коммуникабельна, у меня есть
            интересные идеи, и свободное время для созидания чего-то классного) Открыта к предложениям) Связаться со
            мной можно в телеграмм https://t.me/kseniya_eliseeva Привет! Ищу возможностьпоучаствовать в стартапах
            разработки мобильных приложений) Мое портфолио jhvjvvkv  Работаю в Figma / After Effects. я уже принимал
            участие в разработкеЯ очень коммуникабельна, у меня есть интересные идеи, и свободное время для созидания
            чего-то классного) Открыта к предложениям) Связаться со мной можно в телеграмм https://t.me/kseniya_eliseeva
            Привет! Ищу возможностпоучаствовать в стартапах разработки мобильных приложений) Мое портфолио jhvjvvkv
            Работаю в Figma / After Effects. я уже принималучастие в разработкеЯ очень коммуникабельна, у меня есть
            интересные идеи, и свободное время для созидания чего-то классного) Открыта к предложениям) Связаться со
            мной можно в телеграм
        </span>

        <div id="btn-block">
            <app-new-application></app-new-application>
        </div>
    </div>
</div>