.container {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 0 auto;
    margin-top: 100px;
    box-sizing: border-box;
    gap: 2rem;
}

p {
    margin: 0;
}

.title {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-left: 2rem;
}

.dayOfWeek {
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 12px;
    line-height: 117%;
    color: var(--font-color);
}

.dayofmonth {
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 12px;
    line-height: 117%;
    color: #bdbdbd;
}

.notifications {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.notificationItem {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media (max-width: 768px) {

    .container {
        width: 100%;
        margin-top: 130px;
    }

    .notificationItem {
        gap: 0;
    }
}