<div class="card">
    <ng-container *ngIf="title">
        <p class="title">
            <p-skeleton height="2rem" styleClass="mb-2" [style]="{'background': background}" />
        </p>
    </ng-container>
    
    <div class="chapterCard">
        <ng-container *ngIf="title">
            <p class="chapterCard-title" style="margin-bottom: 0;">
                Ищу:
            </p>
        </ng-container>
        <ng-container *ngIf="!title">
            <p class="chapterCard-title" style="margin-bottom: 0;">
                Специальность:
            </p>
        </ng-container>
      <div class="lookingCard">
        <p class="chapterCard-value" style="margin-top: 0.5rem; width: 100%; margin-bottom: 5px;">
            <p-skeleton height="2rem" styleClass="mb-2" [style]="{'background': background}" />
        </p>
      </div>
    </div>
    <div class="chapterCard">
      <p class="chapterCard_title" style="margin-bottom: 0.5rem;">
        Навыки:
      </p>
      <div class="tags">
        <div style=" width: 120px;">
            <p-skeleton height="2rem" styleClass="skeleton mb-2" [style]="{'background': background}" />
        </div>
      </div>
    </div>
    <div class="chapterCard">
      <p class="chapterCard_title" style="margin-bottom: 0.5rem;">
        Мотивация:
      </p>
      <div class="motivations">
        <div style=" width: 120px;">
            <p-skeleton height="2rem" styleClass="mb-2" [style]="{'background': background}" />
        </div>
      </div>
    </div>
    <div class="profile">
      <div class="rightProfileChapter">
        <p class="dateVacancy dateTitle">
          размещено
        </p>
        <div style=" width: 100px;">
            <p-skeleton height="1rem" styleClass="mb-2" [style]="{'background': background}" />
        </div>
      </div>
    </div>
    <div class="menu_btn">
        <p-skeleton height="2rem" styleClass="mb-2" borderRadius="16px" [style]="{'background': background}" />
        <p-skeleton height="2rem" styleClass="mb-2" borderRadius="16px" [style]="{'background': background}" />
      </div>
    </div>
  