p {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.container-detals {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-detals-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-detals-item-title {
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: var(--text16);
    line-height: 125%;
    color: var(--font-color);
}

.container-detals-item-content {
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: var(--text14);
    line-height: 129%;
    color: var(--font-color);
}