<div class="wrapper">
    <div class="content">
        <div class="leftContent">
            <div class="overlay-block">
                <div class="textConternt">
                    <p class="title">
                        Создай свой IT-стартап
                    </p>
                    <p class="text">
                        Площадка для поиска единомышленников и команды.
                    </p>
                </div>

                <div class="btns">
                    <button class="btnVacancy">
                        Разместить вакансии
                    </button>
                    <button class="btnResume">
                        Разместить вакансии
                    </button>
                </div>

            </div>
            <div class="topRow">
                <div class="image-container">
                    <img src="assets/BackgroundImgs1.jpg" alt="image1" class="image-160x160" style="height: 50%;">
                </div>
                <div class="image-container">
                    <img src="assets/BackgroundImgs2.jpg" alt="image2" class="image-320x160" style="height: 50%;">
                </div>
                <div class="image-container">
                    <img src="assets/BackgroundImgs3.jpg" alt="image3" class="image-160x320">
                </div>
            </div>
            <div class="bottomRow">
                <div class="image-container">
                    <img src="assets/BackgroundImgs9.jpg" alt="image4" class="image-320x160">
                </div>
                <div class="image-container">
                    <img src="assets/BackgroundImgs8.jpg" alt="image5" class="image-320x160">
                </div>
            </div>
        </div>
        <div class="rightContent">
            <div class="overlay-top-right">
                <ng-container *ngFor="let item of tagsList">
                    <p class="tag">
                        {{item}}
                    </p>
                </ng-container>
            </div>
            <div class="topColumn">
                <div class="image-container">
                    <img src="assets/BackgroundImgs4.jpg" alt="image6" class="image-320x160">
                </div>

            </div>
            <div class="bottomColumn">
                <div class="leftColumn">
                    <div class="image-container">
                        <img src="assets/BackgroundImgs5.jpg" alt="image7" class="image-160x160">
                    </div>
                    <div class="image-container">
                        <img src="assets/BackgroundImgs7.jpg" alt="image9" class="image-160x160">
                    </div>
                </div>
                <div class="rightColumn">
                    <div class="image-container">
                        <img src="assets/BackgroundImgs6.jpg" alt="image8" class="image-160x320">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>