<div class="popup-overlay" (click)="cancel()">
    <div class="popup" (click)="$event.stopPropagation()">
        <div class="close-button" (click)="cancel()">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 5L18 18M5.0002 18L18 5" stroke="#333334" stroke-opacity="0.3" stroke-width="1.4"
                    stroke-linecap="round" />
            </svg>
        </div>
 <form [formGroup]="authForm">


        <div class="input-group">
            <label for="currentPassword" class="text10opac05">Текущий пароль:</label>
            <input #formField type="password" id="currentPassword" formControlName="currentPassword" placeholder="Введите текущий пароль"
                autocomplete="off"
                [ngClass]="{'invalid': authForm.get('currentPassword')?.invalid && (authForm.get('currentPassword')?.dirty && isError || authForm.get('currentPassword')?.touched && isError)}">
            <div *ngIf="authForm.get('currentPassword')?.invalid && (authForm.get('currentPassword')?.dirty || authForm.get('currentPassword')?.touched)"
                class="error-message">
                <div *ngIf="authForm.get('currentPassword')?.errors?.['required']">Текущий пароль обязателен для заполнения.</div>
            </div>
        </div>
        
        <div class="input-group">
            <label for="newPassword" class="text10opac05">Новый пароль:</label>
            <input #formField type="password" id="newPassword" formControlName="newPassword" placeholder="Введите новый пароль"
                autocomplete="off"
                [ngClass]="{'invalid': authForm.get('newPassword')?.invalid && (authForm.get('newPassword')?.dirty && isError || authForm.get('newPassword')?.touched && isError)}">
            <div *ngIf="authForm.get('newPassword')?.invalid && (authForm.get('newPassword')?.dirty || authForm.get('newPassword')?.touched)"
                class="error-message">
                <div *ngIf="authForm.get('newPassword')?.errors?.['required']">Новый пароль обязателен для заполнения.</div>
                <div *ngIf="authForm.get('newPassword')?.errors?.['minlength']">Пароль должен быть не менее {{ authForm.get('newPassword')?.errors?.['minlength'].requiredLength }} символов.</div>
            </div>
        </div>
        
        <div class="input-group">
            <label for="confirmPassword" class="text10opac05">Подтвердите новый пароль:</label>
            <input #formField type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Повторите новый пароль"
                autocomplete="off"
                [ngClass]="{'invalid': authForm.get('confirmPassword')?.invalid && (authForm.get('confirmPassword')?.dirty && isError || authForm.get('confirmPassword')?.touched && isError)}">
            <div *ngIf="authForm.get('confirmPassword')?.invalid && (authForm.get('confirmPassword')?.dirty || authForm.get('confirmPassword')?.touched)"
                class="error-message">
                <div *ngIf="authForm.get('confirmPassword')?.errors?.['required']">Подтверждение пароля обязательно.</div>
                <div *ngIf="authForm.get('confirmPassword')?.errors?.['passwordMismatch']">Пароли не совпадают.</div>
            </div>
        </div>
        
        <div class="btns">
            <a class="popup-cancel" (click)="changePassword()">Изменить пароль</a>
            <a class="popup-cancel" (click)="cancel()">Отменить</a>
        </div>
         </form>
    </div>
</div>