<div class="background-container">
    <div class="center-image"></div>

    <div class="articles-container">

            <div class="article-images-left">
                    <div class="block-text">
                        <div class="first-title">Многие специалисты ищут не место, где можно заработать, 
                            а место, где можно прокачать свои скиллы в команде с другими крутыми специалистами, для этого нужно выбрать понравившуюся идею и команду на Uteam.TOP
                            </div>
                    </div>
                    <div class="bottom-image"><img  src="assets/publicleinding/Senior.svg" alt=""></div>
            </div>

            <div class="midl-image"><img  src="assets/publicleinding/logo-seventh.svg" alt=""></div>

            <div class="article-text-right">
                <div class="block-text">
                    <div class="top-image"><img  src="assets/publicleinding/Junior.svg" alt=""></div>
                    <div class="first-title">
                        Специалистам уровня Junior, также доступна возможность находить команды, для получения опыта и прокачки своих скиллов, 
                        а следовательно, повышение уровня и востребованности. 
                    </div>
                </div>  
                <div class="block-btn">
                    <div class="fourth-title">
                        <div class="fourth-title-in">
                            <div>ПРОЕКТЫ</div>
                            <img src="assets/publicleinding/three/icon_BACK_white.svg" alt="">
                        </div>
                    </div>
                    <div class="fourth-title">
                        <div class="fifth-title-in">
                            <div>ВАКАНСИИ</div>
                            <img src="assets/publicleinding/three/icon_BACK_white.svg" alt="">
                        </div>    
                    </div>
                </div>
            </div>
            
            <div class="block-btn-forMobile">
                <div class="fourth-title">
                    <div class="fourth-title-in">
                        <div>ПРОЕКТЫ</div>
                        <img src="assets/publicleinding/three/icon_BACK_white.svg" alt="">
                    </div>
                </div>
                <div class="fourth-title">
                    <div class="fifth-title-in">
                        <div>ВАКАНСИИ</div>
                        <img src="assets/publicleinding/three/icon_BACK_white.svg" alt="">
                    </div>    
                </div>
            </div>
    </div>


    <app-lending-footer-button class="app-lending-footer-button" >
        Регистрация
    </app-lending-footer-button>

</div>