.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.tag-selector {
    position: relative;
}

.tag-input {
    width: 100%;
    border: 1px solid #e2e2e2;
    border-radius: 1rem;
    padding: 16px;
    height: 46px;
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 140%;
}

.tag-input::placeholder {
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 140%;
}

.tag-input:focus {
    border: 1px solid #e2e2e2 !important;
    outline: none;
}

.tag-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 16px 12px;
    border: 2px solid #e2e2e2;
    border-radius: 1rem;
    background: white;
    width: 100%;
    margin-top: 0.5rem;
    max-height: calc(12 * 1.5rem + 12px + 12px);
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: inset 0 0 0 10px white;
}

.tag-block::-webkit-scrollbar {
    width: 8px;
    margin: 10px 0;
}

.tag-block::-webkit-scrollbar-thumb {
    background-color: #806BFF;
    border-radius: 4px;
    margin: 10px 0;
}

.tag-block::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
    margin: 10px 0;
}

.tag-block::-webkit-scrollbar-button {
    display: none;
    margin: 10px 0;
}


.tag-block div {
    cursor: pointer;
    border-radius: 12px;
    padding: 12px 10px;
    background: #f3f3f3;

    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 120%;
    color: #101010;
}

.selectedTags-block {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tagItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border-radius: 2.3rem;
    padding: 7px 10px;
    background: #f3f3f3;
    font-weight: 400;
    font-size: 0.7rem;
    font-family: var(--font-Monts);
}

.levelTag {
    border-radius: 5px;
    padding: 3px 4px;
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 125%;
    color: #fff;
}

.selectTag {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.level {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding-top: 0 !important;

}

.level div {
    cursor: pointer;
    border-radius: 5px;
    padding: 0.6rem 0.8rem;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.level div p {
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 125%;
    color: #fff;
    margin: 0;
    text-align: center;
}

.level div:hover {
    background: #e0e0e0;
}


.no-tags-message {
    color: var(--font-color);
    font-size: 0.8rem;
    text-align: start;
    padding: 0 10px;
    margin: 0;
}

@media (max-width: 424px) {
    .level {
        flex-wrap: wrap;
    }

    .level div {
        justify-content: center;
        flex-basis: calc(33.33% - 0.5rem); 
    }

    .level div:last-child {
        flex-basis: 100%; 
    }
}