.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.tag-selector {
    position: relative;
}

.tag-input {
    width: 100%;
    border: 1px solid #e2e2e2;
    border-radius: 1rem;
    padding: 16px;
    height: 46px;
}

.tag-input:focus {
    border: 1px solid #e2e2e2 !important;
    outline: none;
}

.tag-block {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 16px 12px;
    border: 2px solid #e2e2e2;
    border-radius: 1rem;
    top: 100%;
    left: 0;
    background: white;
    width: 100%;
    margin-top: 0.5rem;
    max-height: calc(12 * 1.5rem + 12px + 12px);
    overflow-y: auto;
}

/* Стили для всего скроллбара */
.tag-block::-webkit-scrollbar {
    width: 8px;
    /* Ширина скроллбара */
    height: 8px;
    /* Высота скроллбара (для горизонтального скроллбара) */
}

/* Стили для ползунка скроллбара */
.tag-block::-webkit-scrollbar-thumb {
    background-color: #806BFF;
    /* Цвет ползунка */
    border-radius: 4px;
    /* Скругленные углы */
}

/* Стили для фона скроллбара */
.tag-block::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Цвет фона */
    border-radius: 4px;
    /* Скругленные углы */
}

/* Убираем стрелки сверху и снизу */
.tag-block::-webkit-scrollbar-button {
    display: none;
    /* Скрыть стрелки */
}

.tag-block div {
    cursor: pointer;
    border-radius: 2.3rem;
    padding: 12px 10px;
    background: #f3f3f3;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1rem;
    line-height: 120%;
    color: #101010;
}

.selectedTags-block {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tagItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border-radius: 2.3rem;
    padding: 12px 10px;
    background: #f3f3f3;

}

.levelTag {
    border-radius: 5px;
    padding: 3px 4px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 125%;
    color: #fff;
}

.selectTag {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Добавьте стили для уровня */
.level {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.level div {
    cursor: pointer;
    border-radius: 5px;
    padding: 0.8rem 1rem;
    display: flex;
    align-items: center;

}

.level div p {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 125%;
    color: #fff;
    margin: 0;
    text-align: center;
}

.level div:hover {
    background: #e0e0e0;
}