.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    padding-top: 10px;
    height: auto;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logo-container {
    display: flex;
    width: 90%;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    padding: 0 1rem;
}

.info-text,
.info-subtext {
    margin: 0;
}

.info-text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.023em;
    color: #fff;
}

.info-subtext {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.033em;
    color: #fff;
    text-align: end;
}

img{
    width: 100%;
}

svg{
    width: 89px;
    height: 51px;
}