<div class="content">
    <div class="main">
        <img src="assets/upperGroup.png" alt="" style="margin-bottom: 1rem;">
        <div class="info-container">
            <p class="info-text">
                площадка для поиска единомышленников
            </p>
            <p class="info-subtext">
                /создай свою IT&#8209;команду
            </p>
        </div>
        <div style="display: flex; flex-direction: column; gap: 1rem; width: 50%; margin-right: 1rem; margin-top: 1rem;">
            <a (click)="handlePostResume()" class="additionalBtn btnNewResume" > Разместить резюме </a>
            <a (click)="handlePostVacancy()" class="additionalBtn btnNewVacancy" > Разместить вакансию </a>
        </div>
        <img src="assets/lowerGroup.png" alt="" style=" top: -50px; position: relative;">
    </div>
</div>