p {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;
    width: 75%;
    margin-top: 0.5rem;
}

.container-elements {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.container-elements-left {
    flex: 70;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container-elements-right {
    flex: 30;
    display: flex;
    flex-direction: column;
}

.container-elements-left-context {
    border-radius: 20px;
    padding: 24px;
    background: #fff;
}


.container-nav {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding-bottom: 24px;
}

.container-nav-item {
    padding: 10px 10px 10px 10px;
    border-bottom: 1.4px solid #bdbdbd;
    font-family: var(--font-Monts);
    font-weight: 700;
    font-size: 16px;
    line-height: 112%;
    text-transform: uppercase;
    color: #bdbdbd;
    transition: border-bottom 0.3s ease, color 0.3s ease;

    &.active {
        border-bottom: 1.4px solid #101010;
        color: #101010;
    }
}

@media (max-width: 1199px) {

    .container {
        width: 95%;
        margin-top: 85px;
    }

}

@media (max-width: 768px) {

    .container {
        width: 100%;
        margin-top: 65px;
    }

    .container-elements {
        flex-direction: column-reverse;
        width: 95%;
        margin: 0 auto;
    }

}