p {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;
    width: 75%;
    margin-top: 0.5rem;
    position: relative;
    z-index: 10;
}

.container-elements {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.container-elements-left {
    flex: 70;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container-elements-right {
    flex: 30;
    display: flex;
    flex-direction: column;
}

.container-elements-left-context {
    border-radius: 20px;
    padding: 24px;
    background: #fff;
}


.container-nav {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding-bottom: 24px;
}


@media (max-width: 1199px) {

    .container {
        width: 95%;
        margin-top: 85px;
        z-index: 1;
    }

}

@media (max-width: 768px) {

    .container {
        width: 100%;
        margin-top: 65px;
    }

    .container-elements {
        flex-direction: column-reverse;
        width: 95%;
        margin: 0 auto;
    }

}