<div class="container">
    <app-screensaver></app-screensaver>
    <div class="container-elements">
        <div class="container-elements-left">
            <div class="container-elements-left-context">
                <div class="container-nav">
                    <a class="container-nav-item" [class.active]="projectService.activeTab === 'aboutProject'"
                        (click)="setActiveTab('aboutProject')">
                        О проекте
                    </a>
                    <a class="container-nav-item" [class.active]="projectService.activeTab === 'tape'"
                        (click)="setActiveTab('tape')">
                        Лента
                    </a>
                </div>
                <app-about-project *ngIf="projectService.activeTab == 'aboutProject'"></app-about-project>
                <ng-container *ngIf="projectService.activeTab != 'aboutProject'">
                    <app-tape></app-tape>
                </ng-container>
            </div>
            <ng-container *ngIf="projectService.activeTab == 'aboutProject'">
                <app-vacancies></app-vacancies>
                <app-reviews></app-reviews>
            </ng-container>

        </div>
        <div class="container-elements-right">
            <app-team></app-team>
        </div>
    </div>
</div>

<app-pop-up-response-team *ngIf="isPopupVisible"></app-pop-up-response-team>