.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;
    width: 75%;
    margin-top: 0.5rem;
}

.background-container {
    position: relative;
    width: 100%;
    height: 396px;
    border-radius: 20px;
    background-color: #b9aeff;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgba(16, 16, 16, 0.6);
}

.content {
    position: relative;
    z-index: 1;
}

.container-elements {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.container-elements-left {
    flex: 70;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container-elements-right {
    flex: 30;
    display: flex;
    flex-direction: column;
}

.container-elements-left-context{
    border-radius: 20px;
    padding: 24px;
    background: #fff;
}


.container-nav {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding-bottom: 24px;
}

.container-nav-item {
    padding: 10px 10px 10px 10px;
    border-bottom: 1.4px solid #bdbdbd;
    font-family: var(--font-Monts);
    font-weight: 700;
    font-size: 16px;
    line-height: 112%;
    text-transform: uppercase;
    color: #bdbdbd;
    transition: border-bottom 0.3s ease, color 0.3s ease;

    &.active {
        border-bottom: 1.4px solid #101010;
        color: #101010;
      }
}
