.container{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
}
.card {
    border-radius: 20px;
    padding: 0.8rem;
    background: var(--background-card-account);
    border: 4px solid #a7eb2000;
    width: 100%;
}



p {
    margin: 0;
}

.Specialization {
    display: flex;
    flex-direction: column;
   
}

.title {
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 117%;
    color: var(--font-color);
    margin-bottom: 0.3rem;
}

.chapterCard-value-eng {
    margin: 0;
    width: 90%;
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 117%;
    text-transform: uppercase;
    color: var(--font-profession-eng);
}

.value-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center
}

.value {
    width: 90%;
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 114%;
    text-transform: uppercase;
    color: var(--font-color);
}

.level {
    margin: 0;
    border: 2px solid #fad305;
    padding: 4px 6px;
    border-radius: 5px;
    font-family: var(--font-Monts);
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    color: var(--font-color);
}


.container-date {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1rem;
}

.rightProfileChapter {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.rightProfileChapter p {
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 120%;
    color: var(--font-color);
}

.dateTitle {
    font-size: 0.8rem;
}

.dateValue {
    font-size: 1rem;
}

.checkbox-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}

input[type="checkbox"] {
    accent-color: #E2E2E2;
}

.custom-checkbox {
    width: 1.2rem;
    height: 1.2rem;
}

@media (max-width: 798px) {
    .level {
        font-size: 0.7rem;
    }
}

@media (max-width: 1199.98px) {
    .card:hover {
        background: var(--background-card);
    }
}