.main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
    
}

.zIndexDialog{
    z-index: 1 !important;
}

.card-container {
    display: flex;
    gap: 1rem;
}

.column{
    flex: 1;
}

.card {
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    height: auto;
    box-sizing: border-box;
}

.container {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.app-card-vacancy-link, .app-card-resume-link{
    text-decoration: none;
}

.search {
    width: 100%;
    height: 115px;
    background: #b9aeff;
    display: flex;
    justify-content: center;
    align-items: center
}

.search-container {
    width: 65%;
}

.sticky-filter{
    position: fixed;
    padding-top: 5px;
    top: 75px; 
    width: 100%;
    background: var(--background);
    left: 0;
}

.messageError{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 106%;
    letter-spacing: 0.023em;
    color: var(--font-color);
}

.nextPage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nextPage a{
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 0.85rem;
    line-height: 114%;
    color: var(--font-color);
}

.nextPage a:hover{
    color: #A6EB20;
}

@media (max-width: 1199.98px) {
    .card-container {
        columns: 2;
    }
 
}


@media (min-width: 789.99px) and (max-width: 1199px) {
    .sticky-filter{
        top: 120px;
    }
}

@media (max-width: 789.98px) {
    .search-container {
        width: 95%;
    }

    .card-container {
        columns: 1;
    }

    .container {
        width: 95%;
    }
    .sticky-filter{
        top: 115px;
        z-index: 1;
    }
}


/* For desktop */
@media (min-width: 1024px) {
    .app-card-vacancy-link {
      width: 33.33%; /* 3 divs per row */
    }
  }
  
  /* For tablets */
  @media (min-width: 768px) and (max-width: 1023px) {
    .app-card-vacancy-link {
      width: 50%; /* 2 divs per row */
    }
  }
  
  /* For mobile phones */
  @media (max-width: 767px) {
    .app-card-vacancy-link {
      width: 100%; 
    }
    .card-container{
        display: flex;
        gap: 1rem;
        flex-direction: column;
  }  
}