<div class="main">
  <app-one-section [ngClass]="{
    'zIndexDialog': (isVisibleFilter)
  }"></app-one-section>
  <div class="container">
    <app-sortetd-filter [ngClass]="{
      'sticky-filter': settingHeaderService.isSticky, 
    }">
    </app-sortetd-filter>


    <div class="card-container">
      <ng-container *ngIf="homeService.typeToggle === 'vacancy'">
        <ng-container *ngIf="isDesktop">
          <div class="column">
            <ng-container *ngFor="let item of homeService.vacancies; let i = index">
              <ng-container *ngIf="i % 3 === 0"> <!-- First Column: 0, 3, 6, ... -->
                <a [href]="getCardUrl(item.id, 'vacancies', 'vacancy')" 
                   class="app-card-vacancy-link"
                   (click)="onCardClick($event, item.id, 'vacancy')">
                  <lib-vacancy class="card" [cardItem]="item" *ngIf="item.visibility != 'BAN'"></lib-vacancy>
                </a>
              </ng-container>
            </ng-container>
          </div>
    
          <div class="column">
            <ng-container *ngFor="let item of homeService.vacancies; let i = index">
              <ng-container *ngIf="i % 3 === 1"> <!-- Second Column: 1, 4, 7, ... -->
                <a [href]="getCardUrl(item.id, 'vacancies', 'vacancy')" 
                   class="app-card-vacancy-link"
                   (click)="onCardClick($event, item.id, 'vacancy')">
                  <lib-vacancy class="card" [cardItem]="item" *ngIf="item.visibility != 'BAN'"></lib-vacancy>
                </a>
              </ng-container>
            </ng-container>
          </div>
    
          <div class="column">
            <ng-container *ngFor="let item of homeService.vacancies; let i = index">
              <ng-container *ngIf="i % 3 === 2"> <!-- Third Column: 2, 5, 8, ... -->
                <a [href]="getCardUrl(item.id, 'vacancies', 'vacancy')" 
                   class="app-card-vacancy-link"
                   (click)="onCardClick($event, item.id, 'vacancy')">
                  <lib-vacancy class="card" [cardItem]="item" *ngIf="item.visibility != 'BAN'"></lib-vacancy>
                </a>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
    
        <ng-container *ngIf="isTablet">
          <div class="column">
            <ng-container *ngFor="let item of homeService.vacancies; let i = index">
              <ng-container *ngIf="i % 2 === 0"> <!-- First Column: 0, 2, 4, ... -->
                <a [href]="getCardUrl(item.id, 'vacancies', 'vacancy')" 
                   class="app-card-vacancy-link"
                   (click)="onCardClick($event, item.id, 'vacancy')">
                  <lib-vacancy class="card" [cardItem]="item" *ngIf="item.visibility != 'BAN'"></lib-vacancy>
                </a>
              </ng-container>
            </ng-container>
          </div>
    
          <div class="column">
            <ng-container *ngFor="let item of homeService.vacancies; let i = index">
              <ng-container *ngIf="i % 2 === 1"> <!-- Second Column: 1, 3, 5, ... -->
                <a [href]="getCardUrl(item.id, 'vacancies', 'vacancy')" 
                   class="app-card-vacancy-link"
                   (click)="onCardClick($event, item.id, 'vacancy')">
                  <lib-vacancy class="card" [cardItem]="item" *ngIf="item.visibility != 'BAN'"></lib-vacancy>
                </a>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
    
        <ng-container *ngIf="isMobile">
          <ng-container *ngFor="let item of homeService.vacancies">
            <a [href]="getCardUrl(item.id, 'vacancies', 'vacancy')" 
               class="app-card-vacancy-link"
               (click)="onCardClick($event, item.id, 'vacancy')">
              <lib-vacancy class="card" [cardItem]="item" *ngIf="item.visibility != 'BAN'"></lib-vacancy>
            </a>
          </ng-container>
        </ng-container>
      </ng-container>
      
      <ng-container *ngIf="homeService.typeToggle === 'resume'">
        <ng-container *ngIf="isDesktop">
          <div class="column">
            <ng-container *ngFor="let item of homeService.resumes; let i = index">
              <ng-container *ngIf="i % 3 === 0"> <!-- First Column: 0, 3, 6, ... -->
                <a [href]="getCardUrl(item.id, 'resumes', 'resume')" 
                   class="app-card-resume-link"
                   (click)="onCardClick($event, item.id, 'resume')">
                  <lib-resume class="card" [cardItem]="item" *ngIf="item.visibility != 'BAN'" [visibleSections]="resumeVisibleSections"></lib-resume>
                </a>
              </ng-container>
            </ng-container>
          </div>
    
          <div class="column">
            <ng-container *ngFor="let item of homeService.resumes; let i = index">
              <ng-container *ngIf="i % 3 === 1"> <!-- Second Column: 1, 4, 7, ... -->
                <a [href]="getCardUrl(item.id, 'resumes', 'resume')" 
                   class="app-card-resume-link"
                   (click)="onCardClick($event, item.id, 'resume')">
                  <lib-resume class="card" [cardItem]="item" *ngIf="item.visibility != 'BAN'" [visibleSections]="resumeVisibleSections"></lib-resume>
                </a>
              </ng-container>
            </ng-container>
          </div>
    
          <div class="column">
            <ng-container *ngFor="let item of homeService.resumes; let i = index">
              <ng-container *ngIf="i % 3 === 2"> <!-- Third Column: 2, 5, 8, ... -->
                <a [href]="getCardUrl(item.id, 'resumes', 'resume')" 
                   class="app-card-resume-link"
                   (click)="onCardClick($event, item.id, 'resume')">
                  <lib-resume class="card" [cardItem]="item" *ngIf="item.visibility != 'BAN'" [visibleSections]="resumeVisibleSections"></lib-resume>
                </a>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
    
        <ng-container *ngIf="isTablet">
          <div class="column">
            <ng-container *ngFor="let item of homeService.resumes; let i = index">
              <ng-container *ngIf="i % 2 === 0"> <!-- First Column: 0, 2, 4, ... -->
                <a [href]="getCardUrl(item.id, 'resumes', 'resume')" 
                   class="app-card-resume-link"
                   (click)="onCardClick($event, item.id, 'resume')">
                  <lib-resume class="card" [cardItem]="item" *ngIf="item.visibility != 'BAN'" [visibleSections]="resumeVisibleSections"> </lib-resume>
                </a>
              </ng-container>
            </ng-container>
          </div>
    
          <div class="column">
            <ng-container *ngFor="let item of homeService.resumes; let i = index">
              <ng-container *ngIf="i % 2 === 1"> <!-- Second Column: 1, 3, 5, ... -->
                <a [href]="getCardUrl(item.id, 'resumes', 'resume')" 
                   class="app-card-resume-link"
                   (click)="onCardClick($event, item.id, 'resume')">
                  <lib-resume class="card" [cardItem]="item" *ngIf="item.visibility != 'BAN'" [visibleSections]="resumeVisibleSections"></lib-resume>
                </a>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
    
        <ng-container *ngIf="isMobile">
          <ng-container *ngFor="let item of homeService.resumes">
            <a [href]="getCardUrl(item.id, 'resumes', 'resume')" 
               class="app-card-resume-link"
               (click)="onCardClick($event, item.id, 'resume')">
              <lib-resume class="card" [cardItem]="item" *ngIf="item.visibility != 'BAN'" [visibleSections]="resumeVisibleSections"></lib-resume>
            </a>
          </ng-container>
        </ng-container>
      </ng-container>

    </div>
    
    <div class="nextPage">
      <a *ngIf="homeService.visibleNextPage"  (click)="nextPage()">
        Показать еще
      </a>
    </div>


    <p *ngIf="homeService?.vacancies?.length === 0 && homeService?.typeToggle === 'vacancy' && !homeService.loading" class="messageError">
      Нет доступных вакансий по вашему запросу. Попробуйте изменить фильтры или параметры поиска.
    </p>
    <p *ngIf="homeService?.resumes?.length === 0 && homeService?.typeToggle === 'resume'  && !homeService.loading" class="messageError">
      Нет доступных резюме по вашему запросу. Попробуйте изменить фильтры или параметры поиска.
    </p>
  </div>
</div>
<app-search-input-phone></app-search-input-phone>