<div class="main">
    <div class="container">
        <app-menu-nav></app-menu-nav>
        <app-background-imgs></app-background-imgs>

    </div>
    <div class="search">
        <div class="container" style="width: 70%;">
            <app-search> </app-search>
        </div>
    </div>
    <div class="container">
        <app-sortetd-filter></app-sortetd-filter>

        <div class="card-container">
            <ng-container *ngFor="let item of vacanciesData">
                <app-card-vacancy [cardItem]="item" class="app-card-vacancy"></app-card-vacancy>
            </ng-container>
        </div>

    </div>

</div>