<div class="container">
    <div class="container-card">
        <div class="container-card-title">
            <p class="container-card-title-text">
                Команда
            </p>
        </div>
        <div class="container-card-users">
            <app-participant *ngFor="let item of itemsList " [itemData]="item"></app-participant>

        </div>

        <a id="myTeam" (click)="setActiveTab()" *ngIf="isOwner == true">Открыть список команды</a>
    </div>

    <ng-container *ngIf="isOwner != true">

        <a *ngIf="!currentProjectData?.currentUserAppliedToProject" class="container-users-btn"
            (click)="getPopUoP()">Хочу в
            команду</a>

        <div *ngIf="currentProjectData?.currentUserAppliedToProject && checkUserInTeam(itemsList) == false" style="    display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 24px;">
            <span class="disable-users-btn">Хочу в команду</span>
            <span class="titleMessage text16">
                Вы уже подали заявку в команду
            </span>
        </div>

        <div *ngIf="currentProjectData?.currentUserAppliedToProject && checkUserInTeam(itemsList) == true" style="    display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 24px;">
        <span class="disable-users-btn">Хочу в команду</span>
        <span class="titleMessage text16">
            Вы в команде
        </span>
    </div>

    </ng-container>


</div>