<div class="container">
    <ng-container *ngIf="hackathonService.page == 'home'" >
        <app-screensaver></app-screensaver>
        <app-hackathon-data></app-hackathon-data>

        <app-settings-admin *ngIf="isOwner"></app-settings-admin>
        <div class="people">
            <app-commandsHack></app-commandsHack>
            <app-party></app-party>
        </div>
    </ng-container>


    <ng-container *ngIf="hackathonService.page == 'manage'" >
        <app-manage-list-participants></app-manage-list-participants>
    </ng-container>
</div>