<div class="main">
    <div class="container" >
        <div class="img">
            <img src="assets/error/ups.png" alt="Image">
            <div class="text-img">Упс...</div>
          </div>
        <div class="content" >
            <div class="text">
                <p class="title">
                    Этой вакансии не существует
                </p>
            </div>
            <div class="btn">
                <a class="link" href="">На главную</a>
            </div>
            </div>
    </div>
    
</div>

