<div class="popup-overlay" *ngIf="popUpEntryService.visible">
  <div class="popup" (click)="$event.stopPropagation()">
    <ng-content>
      <p class="popup-login-title">Войти в аккаунт</p>
      <p class="popup-telegram-auth">Авторизация через Telegram</p>
      
      <a class="popup-login-link" (click)="loadTelegramWidget()">Войти</a>
      <a  (click)="login_enter()">Войти</a>
      
      <!-- Контейнер для виджета Telegram -->
      <div id="telegram-login"></div>
    </ng-content>          
  </div>
</div>
