<div class="background-container">
    <div class="center-image"></div>

    <div class="articles-container">

        <div class="article-text-left">
                <div class="first-title">У вас есть свободное время и желание присоединиться к интересному проекту, 
                    чтобы участвовать в создании и разработке?
                </div>
                <div class="seconde-title">Стань частью команды!</div>
                <div class="three-title">
                    <div>Выберите интересный для вас проект и просто подайте заявку на вступление в команду.</div>
                    <div>Разместите резюме, опишите себя и свой опыт, обязательно укажите свои скиллы и уровень квалификации.</div>                   
                </div> 
        </div> 


        <div class="article-images-right">
            <div class="stairs-img-parent">
                <img src="assets/publicleinding/fourth/Group_28.svg" alt="">
            </div>

            <div class="block-btn">
                <div class="fourth-title">
                    <div class="fifth-title-in">
                        <div>ПРОЕКТЫ</div>
                        <img src="assets/publicleinding/three/icon_BACK_white.svg" alt="">
                    </div>    
                </div>
                <div class="fourth-title">
                    <div class="fifth-title-in">
                        <div>ВАКАНСИИ</div>
                        <img src="assets/publicleinding/three/icon_BACK_white.svg" alt="">
                    </div>    
                </div>
            </div>
        </div>


        <app-lending-footer-button class="app-lending-footer-button">
            Хакатоны и конкурсы IT-проектов
        </app-lending-footer-button>

    </div>
</div>