.background-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #5a4bb8;
}

.background-container::after,
.background-container .center-image {
    content: "";
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}


/* Центральное изображение */
.background-container .center-image {
    background-image: url('/assets/publicleinding/image2.png');
    width: 60vw;
    height: 60vw;
    max-width: 1500px;
    max-height: 1500px;
    left: 54%;
    top: 75%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 4;
}

/* Правое изображение */
.background-container::after {
    background-image: url('/assets/publicleinding/three/Ellipse_46.svg');
    width: 100vw;
    height: 100vw;
    max-width: 1400px;
    max-height: 1400px;
    left: 0;
    top: 50%;
    z-index: 5;
}



@media (min-width: 768px) {
    .articles-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "article-images-left"
                             "article-text-right";
        margin-top: 80px;
        height: 100vh;
        justify-content: space-between;
        z-index: 20;
    }

    .article-images-left {
            display: grid;
            justify-content: end;
            padding: 0 20px;
            z-index: 7;     
    }
    .test {
        height: 90vh;
    }

    .article-text-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 83vh;
        z-index: 8;  
    }
    .first-title {
        font-size: clamp(24px, 3vw, 30px);
        font-weight: 600;
        color: #fff;
        width: 600px;
        padding: 5px 20px;
    }
    .seconde-title {
        display: grid;
        margin-left: -250px;
        margin-top: 40px;
        width: 100%;
        font-size: clamp(20px, 5vw, 46px);
        font-weight: 600;
        background-color: #806BFF;
        border-radius: 100px;
        padding: 20px 10px;
        font-family: var(--second-family), sans-serif;
        color: #A6EB20;
        text-align: center;
        white-space: nowrap;
    }

    .three-title {
        margin-top: 50px;
        font-size: clamp(16px, 2vw, 20px);
        font-weight: 400;
        width: 500px;
        color: #fff;
    }


    .fourth-title {
        display: flex;
        justify-content: end;
    }
    .fourth-title-in {
        width: 500px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #A6EB20;
        padding: 10px 24px;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;  
    }
    .fifth-title-in {
        margin-top: 20px;
        width: 270px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff2f;
        padding: 10px 24px;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;  
        color: #fff;
    }
  
}




/* Медиазапросы для адаптации */

/* --------------------  mobile ---------------------------- */
@media (max-width: 768px) {

    .articles-container {
        margin-top: 70px;
        display: grid;
        grid-template-rows: 1fr 120px;
        grid-template-areas: "article-text-right"
                             "app-lending-footer-button"
                             ;
        height: 100vh;
        z-index: 20;
    }
    
    .article-images-left {
        display: none;
    }

    
    .article-text-right {
        grid-area: article-text-right;
        display: grid;
        grid-template-areas: 
                "block-text"
                "block-text"
                "block-btn";
        z-index:19;
        align-content: space-between;
    }

    .block-text {
        grid-area: block-text;
        display: grid;
        grid-template-areas: 
                "first-title"
                "seconde-title"
                "three-title"
                ;
        padding: 5px 20px;
        gap: 10px;
    }


    .first-title {
        grid-area: first-title;
        font-size: clamp(20px, 6vw, 30px);
        font-weight: 600;
        color: #fff;
        padding: 5px 20px;
    }
    .seconde-title {
        grid-area: seconde-title;
        display: grid;
        align-content: center;
        justify-self: center;
        max-height: 80px;
        font-size: clamp(
            16px,
            calc(16px + (20 - 16) * ((100vw - 360px) / (412 - 360))),
            20px
          );
        font-weight: 700;
        background-color: #806BFF;
        border-radius: 100px;
        padding: 10px;
        font-family: var(--second-family), sans-serif;
        color: #A6EB20;
        text-align: center;
        white-space: nowrap;
    }
    .three-title {
        grid-area: three-title ;
        font-size: clamp(12px, 4vw, 20px);
        font-weight: 400;
        color: #fff;
        margin: 10px 0;
    }
    .three-title  div{
        padding: 10px 0;
    }


    .block-btn {
        grid-area: block-btn;
        display: grid;
        padding: 10px 0;
    }
    .fourth-title {
        display: flex;
        justify-content: end;
    }
    .fourth-title-in {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #A6EB20;
        padding: 10px 24px;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;  
    }
    .fifth-title-in {
        margin-top: 10px;
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff2f;
        padding: 10px 24px;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;  
        color: #fff;
    }



}

