<div class="background-container">
    <div class="center-image"></div>

    <div class="articles-container">

            <div class="article-images-left">
                    <img class="test" src="assets/publicleinding/three/Group_27.svg" alt="">
            </div>


            <div class="article-text-right">
                <div class="block-text">
                    <div class="first-title"> У вас есть идея и вы хотите её реализовать в IT-проект ?</div>
                    <div class="seconde-title">Создайте проект на Uteam.TOP</div>
                    <div class="three-title">
                        <div>Опишите подробно вашу идею.</div>
                        <div>Создайте в проекте вакансии, чтобы IT-специалисты сами откликнулись на вашу идею, если им тоже понравится ваша идея и проект.</div>
                        <div>Не забывайте размещать в Ленте последние новости - наиболее популярные проекты получат больше бонусов в реализации проекта.</div>
                    </div>
                </div>
                <div class="block-btn">
                    <div class="fourth-title">
                        <div class="fourth-title-in">
                            <div>ПРОЕКТЫ</div>
                            <img src="assets/publicleinding/three/icon_BACK.svg" alt="">
                        </div>
                    </div>
                    <div class="fourth-title">
                        <div class="fifth-title-in">
                            <div>РЕЗЮМЕ</div>
                            <img src="assets/publicleinding/three/icon_BACK_white.svg" alt="">
                        </div>    
                    </div>
                </div>
            </div> 
        


            <app-lending-footer-button class="app-lending-footer-button" >
                Для IT-специалистов
            </app-lending-footer-button>

    </div>



</div>