<p-table [value]="usersService.users" [rows]="rowsPerPage" [paginator]="true" [totalRecords]="totalUsers" [pageLinks]="5" [rowsPerPageOptions]="[3, 10, 25, 50, 100]" [sortField]="sortField" [sortOrder]="sortOrder">
    <ng-template pTemplate="header">
        <tr>
            <th>
 
            </th>
            <th pSortableColumn="id" style="width:10%">
                ID <p-sortIcon field="id" />
            </th>
            <th pSortableColumn="firstName" style="width:15%">
                Имя <p-sortIcon field="firstName" />
            </th>
            <th pSortableColumn="lastName" style="width:15%">
                Фамилия <p-sortIcon field="lastName" />
            </th>
            <th pSortableColumn="cityOfResidence" style="width:20%">
                Город <p-sortIcon field="cityOfResidence.name" />
            </th>
            <th pSortableColumn="telegram" style="width:15%">
                Телеграм <p-sortIcon field="telegram" />
            </th>
            <th pSortableColumn="dateOfRegistration" style="width:20%">
                Дата регистрации <p-sortIcon field="dateOfRegistration" />
            </th>
            <th pSortableColumn="role" style="width:15%">
                Роль <p-sortIcon field="role" />
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td><p-button icon="pi pi-pencil" [text]="true" (onClick)="editUser(user)"/></td>
            <td>{{ user.id }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.cityOfResidence?.name }}</td>
            <td>{{ user.telegram }}</td>
            <td>{{ user.dateOfRegistration | date:'short' }}</td>
            <td>{{ user.role }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginator">
        <p-paginator [rows]="rowsPerPage" [totalRecords]="totalUsers" [rowsPerPageOptions]="[3, 10, 25, 50, 100]"></p-paginator>
    </ng-template>
</p-table>

<app-form-user *ngIf="listUsersService.visibleForm" [editData]="selectedUser" ></app-form-user>
