
<div class="background-container">

    <div class="block_container">

        <div class="block_left">
            <!-- <div class="center-image"></div> -->
            <img src="/assets/publicleinding/logo.png" class="logo-overlay">
        </div>


        <div class="block_right">
            <div class="block_titles">
                <div class="tests"> #Только_для_айтишников  </div>
                <div class="tests"> #Найти_единомышленников </div>
                <div class="tests"> #Найти_работу_в_стартапе</div>
                <div class="tests"> #Собрать_команду </div>
                <div class="tests"> #Прокачать_скиллы</div>
                <div class="tests"> #Создать_стартап  </div>
            </div>

            <span class="slogan">От идеи <br> к проекту!</span>
        </div>
    </div>


</div>