<div class="container">
    <div class="first-part">
        <div class="information">
            <div class="ProfileChapter">
                <div class="logo">
                    <img src="assets/male_profile.png" alt="logo" style="width: 5vw;">
                </div>
                <div style="display: flex; flex-wrap: wrap; align-content: flex-end">
                    <p class="fullName">
                        <!-- {{viewCardService.selectedCard.fullName}} -->
                        ngtffn trhtr trht
                    </p>
                </div>
            </div>
            <div class="information-user">
                Учился женился потом передумал. Ищу возможность поучаствовать в стартапах разработки мобильных
                приложений) Мое портфолио jhvjvvkv Работаю в Figma / After Effects. Я очень коммуникабельна, у меня есть
                интересные идеи, и свободное время для созидания чего-то классного) Открыта к предложениям) Связаться со
                мной можно в телеграмм https://t.me/kseniya_eliseeva
            </div>
            <div class="personal-details">
                <div class="location">
                    <p class="title">Город:</p>
                    <span>Барнаул</span>
                </div>
                <div class="age">
                    <p class="title">Возраст:</p>
                    <span>99</span>
                </div>
            </div>
        </div>
        <div class="contacts">
            <p class="title">Контакты:</p>
        </div>
    </div>

    <div class="second-path">
        <div class="container-resume">
            <p class="title-cards">
                Активные резюме:
            </p>
            <div class="cards">
                <app-card-personal-resume></app-card-personal-resume>
                <app-card-personal-resume></app-card-personal-resume>
            </div>
            
        </div>
        <div class="container-vacancy">
            <p class="title-cards">
                Активные вакансии:
            </p>
            <div class="cards">
                <app-card-personal-vacancy></app-card-personal-vacancy>
                <app-card-personal-vacancy></app-card-personal-vacancy>
            </div>
        </div>
    </div>
</div>