.container {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 0 auto;
    margin-top: 100px;
    box-sizing: border-box;
    gap: 2rem;
}

.first-part {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.information,
.contacts {
    flex: 1;
}

.title {
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 140%;
    color: var(--font-color);
}

.ProfileChapter {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 2rem 0px 2rem;
}



.information-user {
    margin-top: 1rem;
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 117%;
    color: var(--font-color);
}

.personal-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;
    color: var(--font-color);
}

p {
    margin: 0;

}

.location,
.age {
    flex: 1;
    display: flex;
    flex-direction: column;

    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 117%;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.date_registration {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 117%;
    color: var(--font-color);
    gap: 0.5rem;
}

.ProfileChapter {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
    padding: 1rem 2rem 0px 2rem;
}

.profile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 1rem;
}

.logo {
    width: 100px;
}

.fullName {
    margin: 0;
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 1rem;
    line-height: 117%;
    color: var(--font-color);
}

.chapterCard-title {
    margin-bottom: 0.5rem;
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 117%;
    color: var(--font-color);
}

.contacts-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border-radius: 20px;
    padding: 6px 12px 6px 8px;
    background: #e2e2e2;
}

.contacts-item img {
    object-fit: contain;
}

.contacts-item p {
    margin: 0;
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 120%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #101010;
}





/* резюме и вакансии */

.second-path {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.container-resume,
.container-vacancy {
    flex: 1;
    border-radius: 1.5rem;
    background: #806bff;
}

.title-cards {
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 1rem;
    line-height: 117%;
    color: #fff;
    padding: 2rem 2.2rem;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.logoImg {
    width: 6vw;
}

@media (max-width : 865px) {

    .first-part,
    .second-path {
        flex-direction: column;
    }
}

@media (max-width: 789.98px) {
    .container {
        width: 95%;
        margin-top: 150px;
    }


    .logoImg {
        width: 14vw;
    }

}