<div class="container">
    <div class="first-part">
        <div class="information">
            <div class="ProfileChapter">
                <div class="logo">
                    <img src="assets/male_profile.png" alt="logo" class="logoImg">
                </div>
                <div style="display: flex; flex-wrap: wrap; align-content: flex-end; flex-direction: column; justify-content: flex-end">
                    <p class="fullName">
                        <!-- {{viewCardService.selectedCard.fullName}} -->
                       Иванов
                    </p>
                    <p class="fullName">
                        <!-- {{viewCardService.selectedCard.fullName}} -->
                       Иван
                    </p>
                </div>
            </div>
            <div class="information-user">
                Учился женился потом передумал. Ищу возможность поучаствовать в стартапах разработки мобильных
                приложений) Мое портфолио jhvjvvkv Работаю в Figma / After Effects. Я очень коммуникабельна, у меня есть
                интересные идеи, и свободное время для созидания чего-то классного) Открыта к предложениям) Связаться со
                мной можно в телеграмм https://t.me/kseniya_eliseeva
            </div>
            <div class="personal-details">
                <div class="location">
                    <p class="title">Город:</p>
                    <span>Барнаул</span>
                </div>
                <div class="age">
                    <p class="title">Возраст:</p>
                    <span>99</span>
                </div>
            </div>
        </div>
        <div class="contacts" style=" padding-top: 1rem;">
            <div>
                 <p class="chapterCard-title">
                    Контакты:
                </p>
                <diV style=" display: flex;  flex-direction: row; align-items: flex-start; gap: 1rem;">
       
                    <div class="contacts-item">
                        <img src="assets/domains/t.png" alt="logo" width="24px">
                        <p>Telegram</p>
                    </div>
                    <div class="contacts-item">
                        <img [src]="imagePath" alt="logo" width="24px">
                        <p>{{domainName}}</p>
                    </div>
                    
                </diV>
            </div>
           
            <div class="date_registration">
                <p class="title">На платформе с </p>
                <span>12.12.2024</span>
            </div>
        </div>
    </div>

    <div class="second-path">
        <div class="container-resume">
            <p class="title-cards">
                Активные резюме:
            </p>
            <div class="cards">
                <app-card-personal-resume></app-card-personal-resume>
                <app-card-personal-resume></app-card-personal-resume>
            </div>

        </div>
        <div class="container-vacancy">
            <p class="title-cards">
                Активные вакансии:
            </p>
            <div class="cards">
                <app-card-personal-vacancy></app-card-personal-vacancy>
                <app-card-personal-vacancy></app-card-personal-vacancy>
            </div>
        </div>
    </div>
</div>