.container {
    display: flex;
    flex-direction: column;
    width: 69%;
    margin: 0 auto;
    margin-top: 100px;
    box-sizing: border-box;
    gap: 2rem;
}

.first-part {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.information,
.contacts {
    flex: 1;
}

.title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 140%;
    color: #fff;

}

.ProfileChapter {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 2rem 0px 2rem;
}

.profile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 1rem;
}

.fullName {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 117%;
    color: #fff;
}

.information-user {
    margin-top: 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1rem;
    line-height: 117%;
    color: #fff;
}

.personal-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;
    color: #fff;
}

p {
    margin: 0;
}

.location,
.age {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.date_registration {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 117%;
    color: #ffff;
}








/* резюме и вакансии */

.second-path {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.container-resume,
.container-vacancy {
    flex: 1;
    border-radius: 1.5rem;
    background: #806bff;
}

.title-cards {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1rem;
    line-height: 117%;
    color: #fff;
    padding: 2rem 2.2rem;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.logoImg{
    width: 5vw;
}
@media (max-width : 865px) {

    .first-part,
    .second-path {
        flex-direction: column;
    }
}

@media (max-width: 789.98px) {
    .container{
        width: 95%;
        margin-top: 150px;
    }

    
.logoImg{
    width: 14vw;
}
    
}