

<div class="background-container">

    <div class="articles-container">

        <div class="block_left">
            <img src="/assets/publicleinding/logo.png" class="logo-overlay">
        </div>

        <div class="block_right">
            <div class="block_title">Чтобы создать проект, вакансию или резюме необходимо пройти регистрацию 
                или авторизоваться! 
                <div class="text_discription">Это быстро ) </div>
            </div>
            <div class="btn_registration">
                 Регистрация
            </div>
        </div>

    </div>


</div>