<div class="background-container">
    <div class="center-image"></div>

    <div class="articles-container">

        <div class="block_left">
            <div class="article--first">
                    <div class="test"><img   src="assets/publicleinding/articleimage1.png" alt=""></div>
                    <div class="test"><img  src="assets/publicleinding/articleimage2.png" alt=""></div>
                    <div class="test"><img  src="assets/publicleinding/articleimage3.png" alt=""></div>
                    <div class="test"><img  src="assets/publicleinding/articleimage4.png" alt=""></div> 
            </div>
            <div class="article--second">
                    <div class="test"><img src="assets/publicleinding/articleimage5.png" alt=""></div>
                    <div class="test"><img src="assets/publicleinding/articleimage6.png" alt=""></div>
            </div>
            <div class="article--third">
                    <div class="test"><img src="assets/publicleinding/articleimage7.png" alt=""></div>
                    <div class="test"><img src="assets/publicleinding/articleimage8.png" alt=""></div>
                    <div class="test"><img src="assets/publicleinding/articleimage9.png" alt=""></div>
                    <div class="test"><img src="assets/publicleinding/articleimage10.png" alt=""></div>
            </div>
        </div>


        <div class="block_right">
            <div class="article-first-text">
                У нас можно найти единомышленников для своей идеи/проекта или присоединиться к другой команде.
            </div>
            <div class="article-second-text">
                Uteam.TOP - платформа для
                IT-проектов, IT-специалистов
                и тех, кто только хочет войти в IT.
            </div>

            <div class="btn_registration">
                <div class="reg"> Регистрация </div>
            </div>

        </div>

        <app-lending-footer-button class="app-lending-footer-button" >
            Подробнее
        </app-lending-footer-button>

    </div>



</div>