<div class="background-container">
    <div class="center-image"></div>

    <div class="articles-container">
        <div class="article article--first">
            <div class="article-images article-images--four">
                <img class="article-image" src="assets/publicleinding/articleimage1.png" alt="">
                <img class="article-image" src="assets/publicleinding/articleimage2.png" alt="">
                <img class="article-image" src="assets/publicleinding/articleimage3.png" alt="">
                <img class="article-image" src="assets/publicleinding/articleimage4.png" alt="">
            </div>
            <div class="article-first-text">
                У нас можно найти единомышленников для своей идеи/проекта или присоединиться к другой команде.
            </div>
        </div>
        <div class="article article--second">
            <div class="article-images article-images--two">
                <img class="article-image" src="assets/publicleinding/articleimage5.png" alt="">
                <img class="article-image" src="assets/publicleinding/articleimage6.png" alt="">
            </div>
            <div class="article-second-text">
                Uteam.TOP - платформа для
                IT-проектов, IT-специалистов
                и тех, кто только хочет войти в IT.

            </div>
        </div>
        <div class="article article--third">
            <div class="article-images article-images--four">
                <img class="article-image" src="assets/publicleinding/articleimage7.png" alt="">
                <img class="article-image" src="assets/publicleinding/articleimage8.png" alt="">
                <img class="article-image" src="assets/publicleinding/articleimage9.png" alt="">
                <img class="article-image" src="assets/publicleinding/articleimage10.png" alt="">
            </div>
            <div class="article-text">
                <!-- Текст статьи -->
            </div>
        </div>
    </div>


    <app-lending-footer-button>
        Хакатоны и конкурсы IT-проектов
    </app-lending-footer-button>
</div>