<div class="background-container">
    <div class="center-image"></div>

    <div class="articles-container">

            <div class="article-images-left">
                <div class="stairs-img-parent">
                    <div><img src="assets/publicleinding/fifth/Group_31.svg" alt=""></div>
                </div>
            </div>


            <div class="article-text-right">
                <div class="block-text">
                    <div class="first-title">Создавайте проекты в рамках интересующего Хакатона или конкурса.</div>
                    <div class="three-title">
                        <div>Собирайте команду.</div>
                        <div>Опишите в Ленте этапы разработки или обновления в вашем проекте.</div>
                        <div>Голосуйте за понравившиеся проекты.</div>
                    </div>
                
                    <div class="yellow_block">
                        Для организаторов Хакатонов или Конкурсов (только IT-сфера):
                        Создать страницу и группу команд можно написав
                        <div class="yellow_block--link"><a href="https://t.me/ds27108 ">https://t.me/ds27108 </a></div>
                    </div>
                </div>

                <div class="block-btn">
                    <div class="fourth-title">
                        <div class="fifth-title-in">
                            <div>ХАКАТОНЫ</div>
                            <img src="assets/publicleinding/three/icon_BACK_white.svg" alt="">
                        </div>
                    </div>
                    <div class="fourth-title">
                        <div class="fifth-title-in">
                            <div>КОНКУРСЫ</div>
                            <img src="assets/publicleinding/three/icon_BACK_white.svg" alt="">
                        </div>    
                    </div>
                </div>
            </div> 




            <app-lending-footer-button>
                Прокачать скиллы
            </app-lending-footer-button>
        
    </div>




</div>