<div class="container" *ngIf="visiblePage">
    <div class="first-part">
        <div class="information">
            <div class="ProfileChapter">
                <div class="logo">
                    <img src="assets/male_profile.png" alt="logo" class="logoImg">
                </div>
                <div
                    style="display: flex; flex-wrap: wrap; align-content: flex-end; flex-direction: column; justify-content: flex-end">
                    <p class="fullName">
                        {{dataCurrentUser.lastName}}

                    </p>
                    <p class="fullName">
                        {{dataCurrentUser.firstName}}
                    </p>
                </div>
            </div>
            <div class="information-user" *ngIf="isDataComplete">
                {{dataCurrentUser.aboutMe}}
            </div>
            <div class="personal-details" *ngIf="isDataComplete">
                <div class="location">
                    <p class="title">Город:</p>
                    <span *ngIf="dataCurrentUser.cityOfResidence">{{dataCurrentUser.cityOfResidence.name}}</span>

                </div>
                <div class="age">
                    <p class="title">Возраст:</p>
                    <span>{{dataCurrentUser.age}}</span>
                </div>
            </div>
        </div>
        <div class="contacts">
            <div>
                <p class="chapterCard-title">
                    Портфолио:
                </p>
                <diV style=" display: flex;  flex-direction: row; align-items: flex-start; gap: 1rem;">
                    <a class="contacts-item" [href]="dataCurrentUser.freeLink" *ngIf="dataCurrentUser.freeLink">
                        <img [src]="imagePath" alt="logo" width="24px">
                        <p>{{domainName}}</p>
                    </a>
                </diV>
            </div>
            <div>
                <p class="chapterCard-title">
                    Контакты:
                </p>
                <diV style=" display: flex;  flex-direction: row; align-items: flex-start; gap: 1rem;">

                    <a class="contacts-item" [href]="'https://t.me/' + dataCurrentUser.telegram" target="_blank" *ngIf="dataCurrentUser.telegram">
                        <img src="assets/domains/t.png" alt="logo" width="24px">
                        <p>Telegram</p>
                    </a>
                </diV>
            </div>
            <div class="date_registration">
                <p class="title">На платформе с </p>
                <span>
                    {{ dataCurrentUser.dateOfRegistration | date: 'dd-MM-yyyy' }}
                </span>
            </div>
        </div>
    </div>
    <div class="message-profile" *ngIf="!isDataComplete">
        <p class="title-message">
            Заполните свой профиль!
        </p>
        <p class="text-message">
            Опишите себя, укажите ссылку на свои работы, чтобы другие пользователи понимали, с кем имеют дело.
            Пользователи с заполненным профилем, значительно больше располагают к доверию.
            Аккаунты с НЕзаполненным профилем - вызывают недоверие.
        </p>

    </div>
    <div class="second-path">
        <div style="flex: 1; display: flex; flex-direction: column; gap: 3rem;">
            <div class="container-resume">
                <p class="title-cards titleActive ">
                    Активные резюме:
                </p>
                <div class="cards">
                    <app-personal-resume *ngFor="let itemResume of resumeService.filterResumes('CREATOR_ONLY')"
                        [cardItem]="itemResume"></app-personal-resume>

                </div>
                <div class="message-cards titleActive" *ngIf="resumeService.filterResumes('CREATOR_ONLY').length==0">
                    нет активных резюме
                </div>
            </div>
            <div class="archive-resume">
                <p class="title-cards">
                    Архив резюме:
                </p>
                <div class="cards">
                    <app-archive-resume *ngFor="let itemResume of resumeService.filterResumes('EVERYBODY')"
                        [cardItem]="itemResume"></app-archive-resume>
                </div>
            </div>
        </div>
        <div style="flex: 1; display: flex; flex-direction: column; gap: 3rem;">
            <div class="container-vacancy">
                <p class="title-cards titleActive">
                    Активные вакансии:
                </p>
                <div class="cards">
                    <app-personal-vacancy [item]="itemVacancy"
                        *ngFor="let itemVacancy of vacancyService.filterVacancies('CREATOR_ONLY')"></app-personal-vacancy>
                </div>
                <div class="message-cards titleActive" *ngIf="vacancyService.filterVacancies('CREATOR_ONLY').length==0">
                    нет активных вакансий
                </div>
            </div>
            <div class="archive-vacancy">
                <p class="title-cards">
                    Архив вакансий:
                </p>
                <div class="cards">
                    <app-archive-vacancy [cardItem]="itemVacancy"
                        *ngFor="let itemVacancy of vacancyService.filterVacancies('EVERYBODY')"></app-archive-vacancy>
                </div>
            </div>
        </div>
    </div>

    <div class="menuProfile">
        <a (click)="deleteUser()">
            Удалить профиль
        </a>
        <a (click)="exitAccount()">
            Выйти из аккаунта
        </a>
        <a (click)="getRouting()">
            <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M8.5 3H3.5C2.96957 3 2.46086 3.21072 2.08579 3.58579C1.71071 3.96086 1.5 4.46957 1.5 5V16C1.5 16.5304 1.71071 17.0391 2.08579 17.4142C2.46086 17.7893 2.96957 18 3.5 18H14.5C15.0304 18 15.5391 17.7893 15.9142 17.4142C16.2893 17.0391 16.5 16.5304 16.5 16V11M15.086 1.586C15.2705 1.39498 15.4912 1.24262 15.7352 1.1378C15.9792 1.03298 16.2416 0.977809 16.5072 0.975501C16.7728 0.973194 17.0361 1.0238 17.2819 1.12436C17.5277 1.22492 17.751 1.37343 17.9388 1.56121C18.1266 1.749 18.2751 1.9723 18.3756 2.21809C18.4762 2.46389 18.5268 2.72725 18.5245 2.9928C18.5222 3.25836 18.467 3.5208 18.3622 3.76481C18.2574 4.00882 18.105 4.22951 17.914 4.414L9.328 13H6.5V10.172L15.086 1.586Z"
                    stroke="#806BFF" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            Редактировать
        </a>
    </div>
</div>


<app-pop-up-delete *ngIf="isPopupVisible"></app-pop-up-delete>
<app-pop-up-exit *ngIf="isExitPopupVisible"></app-pop-up-exit>