p{
    margin: 0;
}

.container {
    border-radius: 20px;
    padding: 24px;
    background: #fff;
}


.container-nav {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding-bottom: 32px;
}

.container-items{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
