<div class="card">
    <div class="chapterCard">
        <p class="chapterCard-title" style="margin: 0;">
            Специальность:
        </p>
        <div class="lookingCard">
            <p class="title" *ngIf="cardItem.profession">
                {{cardItem.profession.name | uppercase }}
            </p>
            <p [ngStyle]="{ 'border-color': getSkillsColor(cardItem.profession.competenceLevel) }"
                class="lookingCard-level" *ngIf="cardItem?.profession?.competenceLevel">
                {{ getSkills(cardItem.profession?.competenceLevel) }}
            </p>
        </div>
        <div class="lookingCard">
            <p class="chapterCard-value-eng">
                {{ cardItem?.profession?.nameEng | uppercase }}
            </p>

        </div>
    </div>
    <div class="chapterCard">
        <p class="chapterCard-title" style="margin-bottom: 0.5rem;">
            Навыки:
        </p>
        <div class="tags">
            <ng-container *ngFor="let item of cardItem.skills">
                <div class="tag" [ngClass]="{ 'with-competence-level': item.competenceLevel }">
                    <p class="tagText">
                        {{item.name}}
                    </p>
                    <p *ngIf="item.competenceLevel" [ngStyle]="{ 'background': getSkillsColor(item.competenceLevel) }" class="tag-level" >
                        {{ getSkillText(item.competenceLevel) }}
                    </p>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="chapterCard">
        <p class="chapterCard-title" style="margin-bottom: 0.5rem;">
            Мотивация:
        </p>
        <div class="motivations">
            <ng-container *ngFor="let item of cardItem.motivations">
                <div class="motivation" [ngStyle]="{ 'background': getMotivationColor(item.name) }">
                    {{ item.name }}

                </div>
            </ng-container>
        </div>
    </div>
    <div class="profile">
        <div class="leftProfileChapter" (click)="viewUser($event, cardItem?.user?.nickname)">
            <div class="logo">
                <ng-container *ngIf="cardItem?.user?.imageLink">
                    <img [src]="'assets/avatars/'+ cardItem?.user?.imageLink + '.png'" alt="avatar">
                </ng-container>
                <ng-container *ngIf="!cardItem?.user?.imageLink">
                    <img [src]="'assets/avatars/default.png'" alt="avatar">
                </ng-container>
            </div>

            <div
                style="display: flex; flex-wrap: wrap; flex-direction: column; justify-content: flex-end; margin-bottom: 2px;">
                <p class="fullName" style="margin: 0;">
                    {{cardItem?.user?.lastName}}
                </p>
                <p class="fullName" style="margin: 0;">
                    {{cardItem?.user?.firstName}}
                </p>
            </div>

        </div>
        <div class="rightProfileChapter">
            <p class="dateVacancy dateTitle">
                размещено
            </p>
            <p class="dateVacancy dateValue">
                {{cardItem.creationDate | date: 'dd.MM.yyyy' }}
            </p>
        </div>

    </div>
</div>