<div class="card">
    <div class="chapterCard">
        <p class="chapterCard-title" style="margin: 0;">
            Специальность:
        </p>
        <p class="title" s>
            {{cardItem.specialization}}
        </p>
    </div>
    <div class="chapterCard">
        <p class="chapterCard-title" style="margin-bottom: 0.5rem;">
            Навыки:
        </p>
        <div class="tags">
            <ng-container *ngFor="let item of cardItem.skills">
                <div class="tag">
                    {{item}}
                </div>
            </ng-container>
        </div>
    </div>
    <div class="chapterCard">
        <p class="chapterCard-title" style="margin-bottom: 0.5rem;">
            Мотивация:
        </p>
        <div class="motivations">
            <ng-container *ngFor="let item of cardItem.motivations">
                <div class="motivation" [ngStyle]="{ 'background': getMotivationColor(item) }">
                    {{ item }}
                </div>
            </ng-container>
        </div>
    </div>
    <div class="profile">
        <div class="leftProfileChapter">
            <div class="logo">
                <ng-container *ngIf="cardItem.floor === 'male'">
                    <img src="../../../assets/male_profile.png" alt="logo">
                </ng-container>
                <ng-container *ngIf="cardItem.floor === 'female'">
                    <img src="../../../assets/famale_profile.jpg" alt="logo">
                </ng-container>
            </div>
            
            <div style="display: flex; flex-wrap: wrap; flex-direction: column; justify-content: flex-end; margin-bottom: 3px;">
                <p class="fullName" style="margin: 0;">
                    {{cardItem.lastName}}
                </p>
                <p class="fullName" style="margin: 0;">
                    {{cardItem.firstName}}
                </p>
            </div>
           
        </div>
        <div class="rightProfileChapter">
            <p class="dateVacancy dateTitle">
                размещено
            </p>
            <p class="dateVacancy dateValue">
                {{cardItem.date}}
            </p>
        </div>
        
    </div>
</div>