<div class="card">
    <div class="message">
        <p>
            Объявление заблокированно по причине: {{ cardItem?.banReason }}
        </p>
    </div>
    <div class="chapterCard">
        <p class="chapterCard-title" style="margin-bottom: 0;">
            Специальность:
        </p>
        <div class="lookingCard">
            <p class="title" style="margin-top: 0.5rem; width: 90%; margin-bottom: 0;     font-weight: 500; font-size: 0.8rem;">
                {{ cardItem?.profession?.name | uppercase }} <!-- Исправлено на profession.name -->
            </p>
            <p [ngStyle]="{ 'border-color': getSkillsColor(cardItem?.profession?.competenceLevel) }" class="lookingCard-level" *ngIf="cardItem?.profession?.competenceLevel">
                {{ getSkills(cardItem?.profession?.competenceLevel) }}
            </p>
        </div>
        <div class="lookingCard">
            <p class="chapterCard-value-eng" >
                {{ cardItem?.profession?.nameEng | uppercase }}
            </p>
        </div>
    </div>
    <div class="profile">
        <div class="rightProfileChapter">
            <p class="dateVacancy dateTitle">
                размещено
            </p>
            <p class="dateVacancy dateValue">
                {{ cardItem?.creationDate | date: 'dd.MM.yyyy' }} <!-- Использовано creationDate и форматирование -->
            </p>
        </div>
    </div>
    <div class="menu_btn" >
        <a href="mailto:mail@uteam.top">
            Написать в тех. поддержку
        </a>
    </div>
</div>
