
.card {
    display: flex;
    flex-direction: column;
    border-radius: 1.3rem;
    padding: 12px;
    width: 100%;
    margin-bottom: 2rem;
    break-inside: avoid;
}

.title {
    font-family: var(--font-Monts);
    font-weight: 600;
    font-size: 1rem;
    line-height: 114%;
    color: var(--font-color);
}



.chapterCard-title {
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 117%;
    color: var(--font-color);
}

.chapterCard-value {
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 117%;
    text-transform: uppercase;
    color: var(--font-color);
}

.lookingCard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.lookingCard-level {
    padding: 4px 6px;
    border-radius: 5px;
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 120%;
    color: var(--font-color);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.tag {
    border: 1px solid #806bff;
    border-radius: 10px;
    padding: 3px 8px 3px 8px;
    background: rgba(243, 243, 243, 0.1);

    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 120%;
    color: var(--font-color);
}

.motivations {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.motivation {
    border-radius: 10px;
    padding: 8px 10px;

    font-family: var(--font-Monts);
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 120%;
    color: var(--font-color);
}

.profile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 1rem;
}


.rightProfileChapter {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.fullName {
    font-family: var(--font-Monts);
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 117%;
    color: var(--font-color);
}

.dateVacancy {
    font-family: var(--font-Monts);
    font-weight: 500;
    line-height: 120%;
    color: var(--font-color);
}

.dateTitle {
    font-size: 0.9rem;
    margin: 0;
    margin-top: 5px;
}

.dateValue {
    font-size: 0.9rem;
    white-space: nowrap;
    margin: 0;
    margin-top: 5px;
}


.description {
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 1rem;
    line-height: 117%;
    color: var(--font-color);
}

