<div class="card">
    <div class="Specialization">
        <p class="title">
            Специальность:
        </p>
        <div class="value-container">
            <p class="value">
regre greg
            </p>
            <p class="level" [ngStyle]="{ 'background': getSkillsColor('Middle') }">
                Middle
            </p>
        </div>
    </div>
    <div class="container-date">

        <div class="rightProfileChapter">
            <p class="dateTitle">
                размещено
            </p>
            <p class="dateValue">
                12.11.2024
            </p>
        </div>

    </div>
</div>