.card {
    border-radius: 20px;
    padding: 0.8rem;
    box-shadow: 1px 2px 4px 0 rgba(40, 40, 40, 0.1);
    background: var(--background-card-account);
}

.card:hover {
    background: var(--card-hover-account);
}

p {
    margin: 0;
}

.Specialization {
    display: flex;
    flex-direction: column;
   
}

.title {
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 117%;
    color: var(--font-color);
    margin-bottom: 0.3rem;
}

.value-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.value {
    width: 90%;
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 114%;
    text-transform: uppercase;
    color: var(--font-color);
}

.level {
    margin: 0;
    padding: 4px 6px;
    border-radius: 5px;
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 120%;
    color: #fff;
}

@media (max-width: 798px) {
    .level {
        font-size: 0.7rem;
    }
}
.container-date {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1rem;
}

.rightProfileChapter {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.rightProfileChapter p {
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 120%;
    color: var(--font-color);
}

.dateTitle {
    font-size: 0.8rem;
}

.dateValue {
    font-size: 1rem;
}