.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    margin: 0 auto;
    margin-top: 100px;
    box-sizing: border-box;
    gap: 2rem;
}


.left-part {
    flex: 1;
    border-radius: 20px;
    padding: 12px;
    box-shadow: 1px 2px 4px 0 rgba(40, 40, 40, 0.1);
    background: var(--background-card)
}

.right-path {
    flex: 1;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}






/* right-path */


.ProfileChapter {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
    padding: 1rem 2rem 0px 2rem;
}

.profile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 1rem;
}

.logo {
    width: 100px;
}

.fullName {
    margin: 0;
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 1rem;
    line-height: 117%;
    color: var(--font-color);
}

.chapterCard-title {
    margin-bottom: 0.5rem;
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 117%;
    color: var(--font-color);
}

.contacts-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border-radius: 20px;
    padding: 6px 12px 6px 8px;
    background: #e2e2e2;
}

.contacts-item img {
    object-fit: contain;
}

.contacts-item p {
    margin: 0;
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 120%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #101010;
}



.titleLogin {
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 117%;
    text-transform: uppercase;
    color: var(--font-color);
}

.btnLogin {
    display: flex;
    border-radius: 300px;
    padding: 1rem 1.2rem;
    margin-top: 2rem;
    width: 100%;
    background: #e2e2e2;
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 120%;
    color: #101010;
    justify-content: center;
    text-decoration: none;
}


.btnAccount_user {
    display: flex;
    gap: 2rem;
    border-radius: 300px;
    padding: 1rem 1.2rem;
    margin-top: 2rem;
    width: 100%;
    background: #b9aeff;
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 120%;
    color: #fff;
    justify-content: center;
    text-decoration: none;
}

.btnAccount_user:hover {
    background: #806BFF;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        flex-direction: column;
        margin-top: 130px;
    }

    .ProfileChapter {
        padding: 0rem 0px 1rem;
    }

    .btnAccount_user {
        font-size: 0.8rem;
    }
}