.container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    margin-top: 100px;
    box-sizing: border-box;
    gap: 2rem;
}

.page-title {
    padding: 1rem 2rem;
}

.page-title p {
    margin: 0;
    font-family: var(--font-Monts);
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 112%;
    text-transform: uppercase;
    color: var(--font-color);
}

.content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.content-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.chapter-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    border-radius: 1.5rem;
    padding: 1rem 1.3rem;
    box-shadow: 1px 2px 4px 0 rgba(40, 40, 40, 0.1);
    background: #b9aeff;
}

.avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background: #c1ccd6;
    border-radius: 50%;
}

.avatar .title p {
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 140%;
    color: #2c3339;
}

.chapter-title {
    padding: 0px 2.3rem 0.5rem 2.3rem;
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 1rem;
    line-height: 117%;
    color: var(--font-color);
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.input-group label {
    padding: 0.1rem 2rem;
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 140%;
    color: #101010;
}

.input-group input {
    border: 1px solid #e2e2e2;
    border-radius: 12px;
    padding: 1rem;
    width: 100%;
    outline: none;

    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 1rem;
    line-height: 140%;
}

.input-group input::placeholder,
.input-group textarea::placeholder,
#domain::placeholder {
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 140%;
}

.input-group textarea {
    border: 1px solid #e2e2e2;
    border-radius: 12px;
    padding: 16px;
    min-height: 100px;
    resize: none;
    outline: none;
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 1rem;
    line-height: 140%;
}

.gender_title {
    padding: 0.1rem 2rem;
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 1rem;
    line-height: 140%;
    color: #101010;
}

.chapter-domain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.domain {
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 140%;
    color: #101010;
}

.chapter-domain input {
    border: 1px solid #e2e2e2;
    border-radius: 12px;
    padding: 1rem;
    width: 200px;
    background: #fff;
    outline: none;

    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 1rem;
    line-height: 140%;
}

.chapter-domain a {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 12px;
    padding: 1rem;
    background: #e2e2e2;
}

:host ::ng-deep .p-autocomplete {
    width: 100% !important;
    
}

:host ::ng-deep .p-autocomplete .p-autocomplete-input {
    width: 100% !important;
    border: 1px solid #e2e2e2;
    border-radius: 12px;
    padding: 1rem;
    width: 100%;
    outline: none;

    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 1rem;
    line-height: 140%;
}

:host ::ng-deep .p-inputtext:enabled:focus{
    border-color: #ffffff00;
    box-shadow: none;
}

:host ::ng-deep .p-inputtext:enabled:hover{
    border-color: #ffffff00;
    box-shadow: none;
}

:host ::ng-deep .p-autocomplete .p-autocomplete-input::placeholder {
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 140%;
}

:host ::ng-deep  .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item{
    padding: 0.5rem 0.75rem;
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 140%;
}

:host ::ng-deep  .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-empty-message{
    padding: 0.5rem 0.75rem;
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 140%;
}

.approval {
    display: flex;
    align-items: center;
}
input[type="checkbox"]{
  accent-color: #E2E2E2;
}

.custom-checkbox {
    width: 4rem;
    height: 4rem;
}

.approval label {
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 117%;
    color: var(--font-color);
}

.btnSave {
    border-radius: 30px;
    padding: 16px;
    width: 100%;
    background: #84dd2c;
    border: none;

    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 117%;
    color: #fff;

}


.error-message {
    color: red;
    font-size: 0.7rem;
}


@media (max-width: 768px) {

    .container {
        width: 98%;
    }

    .content {
        flex-direction: column;
    }

    .content-column {
        width: 100%;
    }



    .icon {
        width: 80px;
        height: 80px;
    }

    .avatar .title p {
        font-size: 0.7rem;
    }

    .chapter-title {
        padding: 0px 1.5rem;
        font-size: 0.9rem;
    }

    .input-group input,
    .input-group textarea {
        padding: 0.8rem;
    }

    .chapter-domain input {
        width: 100%;
    }

    .custom-checkbox {
        width: 2rem;
        height: 2rem;
    }
    
}

@media (max-width: 480px) {
    .page-title p {
        font-size: 1rem;
    }

    .chapter-title {
        font-size: 0.9rem;
    }

    .input-group label,
    .input-group input,
    .input-group textarea {
        font-size: 0.9rem;
    }

    .icon {
        width: 60px;
        height: 60px;
    }

    .avatar .title p {
        font-size: 0.6rem;
    }
    .custom-checkbox {
        width: 2rem;
        height: 2rem;
    }

}