
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --background: #333334; /* #f2f2f2 */
    --background-card: rgba(255, 255, 255, 0.1); /* #fff */
    --card-hover: #5a4bb8; /* #a6eb20 */
    --background-card-account: #5a4bb8; /* #fff */
    --card-hover-account: rgba(255, 255, 255, 0.1); /* #a6eb20 */
    --background-archive: #101010; /* #e2e2e2 */
    --card-archive: #434242; /* #fff */
    --line-item: rgba(255, 255, 255, 0.1); /* rgba(0, 0, 0, 0.1) */
    --font-color: #fff; /* #101010 */

    --font-Monts: "Montserrat";
    --second-family: "Comfortaa";
}

body{
    margin: 0;
    background: var(--background);

    
}
html, body {
    overflow-x: hidden; /* Отключает горизонтальную прокрутку */
}
p, h1,h2,h3,div{
    font-family: var(--font-Monts);
}
