<div class="wrapper">
    <div class="content">
        <div class="leftContent">
            <div class="topRow">
                <div style="    display: flex;
                flex-direction: column;
                gap: 0.8rem;">
                    <div style=" display: flex; gap: 0.8rem;">
                        <div class="image-container" id="image1">
                            <img src="assets/BackgroundImgs1.jpg" alt="image1" class="image-160x160">
                        </div>
                        <div class="image-container">
                            <img src="assets/BackgroundImgs2.jpg" alt="image2" class="image-320x160">
                        </div>
                    </div> 
                    <div style=" display: flex; gap: 0.8rem;">  
                        <div class="image-container">
                            <img src="assets/BackgroundImgs10.png" alt="image2" class="image-480x160">
                        </div>
                    </div>
                </div>

                <div class="image-container">
                    <img src="assets/BackgroundImgs3.jpg" alt="image3" class="image-160x320">
                </div>
            </div>
            <div class="bottomRow">
                <div class="image-container">
                    <img src="assets/BackgroundImgs9.jpg" alt="image4" class="image-320x160">
                </div>
                <div class="image-container">
                    <img src="assets/BackgroundImgs8.jpg" alt="image5" class="image-320x160">
                </div>
            </div>
        </div>
        <div class="rightContent">
            <div class="topColumn">
                <div class="image-container" id="image4">
                    <img src="assets/BackgroundImgs4.jpg" alt="image6" class="image-320x160">
                </div>

            </div>
            <div class="bottomColumn">
                <div class="leftColumn">
                    <div class="image-container">
                        <img src="assets/BackgroundImgs5.jpg" alt="image7" class="image-160x160">
                    </div>
                    <div class="image-container">
                        <img src="assets/BackgroundImgs7.jpg" alt="image9" class="image-160x160">
                    </div>
                </div>
                <div class="rightColumn">
                    <div class="image-container">
                        <img src="assets/BackgroundImgs6.jpg" alt="image8" class="image-160x320">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>