.content {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    margin-top: 100px;
    margin-bottom: 1rem;
    opacity: 0.3;
    overflow: hidden
}

.leftContent,
.rightContent,
.leftColumn,
.rightColumn {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.topRow,
.bottomRow,
.bottomColumn {
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    object-fit: cover;
    display: block;
    border-radius: 2.5rem;
}

.image-160x160,
.image-320x160,
.image-160x320 {
    object-fit: cover;
}

.image-160x160 {
    width: 16.6vw; /* 16.6% от ширины экрана */
    height: 16.6vw; /* 16.6% от ширины экрана */
}

.image-320x160 {
    width: 33.2vw; /* 33.2% от ширины экрана */
    height: 16.6vw; /* 16.6% от ширины экрана */
}

.image-480x160{
    width: 49.8vw; /* 49.8% от ширины экрана */
    height: 16.6vw; /* 16.6% от ширины экрана */
}

.image-160x320 {
    width: 16.6vw; /* 16.6% от ширины экрана */
    height: 33.2vw; /* 33.2% от ширины экрана */
}

.overlay-block {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 2.3rem;
    z-index: 22;
}

.textConternt {
    padding: 0 1.9rem;
}

.title {
    font-family: var(--font-Monts);
    font-weight: 700;
    font-size: 38px;
    line-height: 105%;
    color: #806bff;
    margin: 0;
}

.text {
    width: 75%;
    font-family: var(--second-Monts);
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #101010;
}




.mobile-svg {
    display: none;
}

@media only screen and (max-width: 768px) {
    .mobile-svg {
        display: inline;
    }
    .content {
        flex-direction: column;
    }
    .overlay-block {
        height: 115px;
        top: 30%;
        padding: 1rem;
        width: 85%;
    }
    .textConternt {
        padding: 0 0.5rem;
    }
    .btns {
        flex-direction: column;
        align-items: flex-end;
    }
    #image1,
    .overlay-top-right,
    #image4 {
        display: none;
    }
    .bottomColumn {
        justify-content: center;
    }
    .title {
        font-size: 16px;
    }
    .text {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    /* Добавьте необходимые стили для экранов меньшего размера */
}
