<div class="card">
    <p class="title">
        <p-skeleton height="2rem" styleClass="mb-2" />
    </p>
    <div class="chapterCard">
        <p class="chapterCard-title" style="margin-bottom: 0;">
            Ищу:
        </p>
        <div class="lookingCard">
            <p class="chapterCard-value" style="margin-top: 0.5rem; width: 90%; margin-bottom: 5px;">
                <p-skeleton height="2rem" styleClass="mb-2" />
            </p>

        </div>
        <div class="lookingCard">
            <p class="chapterCard-value-eng" >
                <p-skeleton height="2rem" styleClass="mb-2" />
            </p>
        </div>
        
    </div>
    <div class="chapterCard">
        <p class="chapterCard-title" style="margin-bottom: 0.5rem;">
            Навыки:
        </p>
        <div class="tags">
            <p-skeleton height="2rem" styleClass="mb-2" />
        </div>
    </div>
    <div class="chapterCard">
        <p class="chapterCard-title" style="margin-bottom: 0.5rem;">
            Мотивация:
        </p>
        <div class="motivations">
            <p-skeleton height="2rem" styleClass="mb-2" />
        </div>
    </div>
    <div class="profile">
        <div class="leftProfileChapter">
            <div class="logo">
                <p-skeleton shape="circle" size="5rem" />
            </div>
            <div style="display: flex; flex-wrap: wrap; flex-direction: column; justify-content: flex-end; margin-bottom: 2px;">
                <p class="fullName" style="margin: 0;">
                    <p-skeleton height="2rem" styleClass="mb-2" />
                </p>
                <p class="fullName" style="margin: 0;">
                    <p-skeleton height="2rem" styleClass="mb-2" />
                </p>
            </div>
           
        </div>
        <div class="rightProfileChapter">
            <p class="dateVacancy dateTitle">
                размещено
            </p>
            <p class="dateVacancy dateValue">
                <p-skeleton height="2rem" styleClass="mb-2" />
            </p>
        </div>
        
    </div>
</div>