<div class="container">

    <div class="creation">
        <p class="creation-title">
            создание {{formSettingService.typeForm}}
        </p>
        <p class="creation-description">
            описание что это пояснение
        </p>
    </div>
    <div class="content">
        <ng-container *ngIf="formSettingService.isheading">
            <div class="firstRow">
                <div class="stage">
                    <p class="stage-title">
                        Заголовок:
                    </p>
                    <input type="text" placeholder="Поле ввода">
                </div>
            </div>
        </ng-container>
        <div class="secondRow">
            <div class="stage">
                <p class="stage-title">
                    Специализация:
                </p>
                <app-tag-selected-level [placeholderValue]="'Выберете специализацию'" [tags]="tags"
                    [maxTags]=1></app-tag-selected-level>
            </div>
            <div class="stage">
                <p class="stage-title">
                    Навыки:
                </p>
                <app-tag-selected-level [placeholderValue]="'Выберете навыки'" [tags]="tags"></app-tag-selected-level>
            </div>
            <div class="stage" class="three-stages" style="flex: 1;">
                <div class="three-stage">
                    <p class="stage-title">
                        Мотивация:
                    </p>
                    <app-motivations></app-motivations>
                </div>
                <div class="paul">
                    <p class="stage-title">
                        Пол:
                    </p>
                    <div class=" paul-stage">
                        <div>
                            <p-radioButton name="paul" value="Male" [(ngModel)]="paul" inputId="paul1"
                                class="paulValue" />
                            <label for="v" class="ml-2">
                                Мужской
                            </label>
                        </div>

                        <div>
                            <p-radioButton name="paul" value="Female" [(ngModel)]="paul" inputId="paul2"
                                class="paulValue" />
                            <label for="paul2" class="ml-2">
                                Женский
                            </label>
                        </div>

                    </div>


                </div>
            </div>
        </div>
        <div class="thirdRow">
            <div class="stage" style="flex: 2;">
                <p class="stage-title">
                    Описание:
                </p>
                <textarea placeholder="Поле ввода"></textarea>
            </div>
            <div class="stage container-btns">
                <a class="createBtn">
                    Опубликовать
                </a>
                <div class="secondBtns">
                    <ng-container *ngIf="formSettingService.isEdit">
                        <a class="deleteBtn">
                            В архив
                        </a>
                    </ng-container>

                    <a class="deleteBtn">
                        Удалить
                    </a>
                </div>

            </div>
        </div>


    </div>
</div>